<hce-common-navbar hce-title="Cambiar contraseña"></hce-common-navbar>
<div class="modal fade" ng-class="{'in':ChangePasswordCtrl.modal.style}" ng-style="ChangePasswordCtrl.modal.style">
        <div class="modal-dialog modal-confirmation">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Cambiar contraseña</h4>
                </div>
                <div class="modal-body">
                    <p><i class="glyphicon glyphicon-ok" style="color:green"></i> La contraseña ha sido cambiada</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary center-block" ng-click="ChangePasswordCtrl.modal.confirm()" ng-focus="ChangePasswordCtrl.modal.isVisible">Continuar</button>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="col-sm-7 col-sm-offset-2">
            <div class="alert alert-dismissable alert-danger" ng-show="ChangePasswordCtrl.errorMessage">
                <button type="button" class="close" ng-click="ChangePasswordCtrl.hideErrorMessage()">×</button>
                <p>{{ChangePasswordCtrl.errorMessage}}</p>
            </div>

            <form class="form-horizontal" name="ChangePasswordCtrl.changePasswordForm" ng-submit="ChangePasswordCtrl.changePassword()">
                <div class="form-group row">
                    <label for="oldPassword" class="col-sm-3">Contraseña actual</label>
                    <div class="col-sm-9">
                        <input type="password" id="oldPassword" name="oldPassword" ng-model="ChangePasswordCtrl.oldPassword" class="form-control" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="newPassword" class="col-sm-3">Nueva contraseña</label>
                    <div class="col-sm-9">
                        <input type="password" id="newPassword" name="newPassword" ng-model="ChangePasswordCtrl.newPassword" class="form-control" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="repeatNewPassword" class="col-sm-3">Confirmar nueva contraseña</label>
                    <div class="col-sm-9">
                        <input type="password" id="repeatNewPassword" name="repeatNewPassword" ng-model="ChangePasswordCtrl.repeatNewPassword" class="form-control" required>
                    </div>
                </div>
                <br>
                <div class="well">
                    <b>Requisitos para la contraseña:</b>
                    <ul>
                        <li>La longitud debe ser 8 a 15 caracteres.</li>
                        <li>No se puede ingresar la contraseña actual como nueva</li>
                        <li>No se pueden repetir contraseñas ya utilizadas.</li>
                        <li>Utilizar al menos una letra y un número.</li>
                        <li>No se puede utilizar el nombre de usuario, nombre, apellido o correo electrónico.</li>
                    </ul>
                </div>
                <div class="row">
                    <button ng-click="ChangePasswordCtrl.cancel()" class="btn btn-default">Cancelar</button>
                    <button ng-click="ChangePasswordCtrl.confirm()" type="submit" class="btn btn-primary btn-raised"><span class="glyphicon glyphicon-ok"></span> Guardar</button>
                </div>
            </form><!-- /form -->
        </div><!-- /card-container -->
    </div><!-- /container -->