<div class="navbar hce-navbar" ng-class="{'active-evolution':NavbarController.currentEvolution}">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 no-padding" style="margin-left: -15px;">
        <div class="row ">
          <div class="col-xs-8 col-sm-10 col-md-10 col-lg-10">
            <span class="hce-navbar-patient-name">{{NavbarController.currentPaciente.firstName}} {{NavbarController.currentPaciente.fatherSurname}}</span>
            <span class="hce-navbar-patient-age">{{NavbarController.years}} años</span>
            <span class="hce-navbar-patient-age">{{NavbarController.currentPaciente.documentType.name}} {{NavbarController.currentPaciente.documentNumber}}</span>
            <span class="hce-navbar-patient-age">{{NavbarController.currentPaciente.genderAtBirth.name}}</span>
            <span ng-show="NavbarController.currentEvolution && NavbarController.currentEvolution.id" class="hce-navbar-visit-active">( Visita abierta )</span>

          </div>
            <div ng-show="NavbarController.currentEvolution && NavbarController.currentEvolution.id" class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
              <button class="btn btn-default btn-raised pull-right btn-small" ng-click="NavbarController.closeEvolution()">Cerrar visita</button>
            </div>

          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          </div>
        </div>
        <div class="row ">
          <div class="hce-360-navbar-btn" ui-sref-active="active" ui-sref="app.patientHCE.resumen">
            Vista 360
          </div>
          <div class="hce-360-navbar-btn" ui-sref-active="active" ui-sref="app.patientHCE.evolutions">Evoluciones</div>
          <div class="hce-360-navbar-btn" ui-sref-active="active" ui-sref="app.patientHCE.problems">Problemas</div>
          <div class="hce-360-navbar-btn" ui-sref-active="active" ui-sref="app.patientHCE.traitments">Tratamientos</div>
          <div class="hce-360-navbar-btn" ui-sref-active="active" ui-sref="app.patientHCE.results">Resultados</div>

        </div>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span> {{NavbarController.currentUser.first_name}} {{NavbarController.currentUser.last_name}}<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li ng-show="NavbarController.currentUser"><a ng-click="NavbarController.logout()">Cerrar sesión</a></li>
            <li ng-show="!NavbarController.currentUser"><a ui-sref="login">Iniciar sesión</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>