<div class="navbar hce-navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10" style="margin-left: -15px;">
        <div class="row hce-navbar-patient-name">
          Martin Lobo
          
        </div>
        <div class="row hce-navbar-patient-age">
          30 años
        </div>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span> {{NavbarController.currentUser?NavbarController.currentUser.companyName:'Anonimo'}} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li ng-show="NavbarController.currentUser"><a ng-click="NavbarController.logout()">Cerrar sesión</a></li>
            <li ng-show="!NavbarController.currentUser"><a ui-sref="login">Iniciar sesión</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>