<hce-navbar></hce-navbar>     

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div ui-view="detail">
          
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
      <div class="well hce-card">
        <div class="hce-card-title">
          Problemas activos (9)
        </div>
        <div class="hce-card-body">
            <ul>
              <li>HIV</li>
              <li>Fiebre</li>
              <li>Asma</li>
              <li>Sifilis</li>
              <li>Gripe</li>
            </ul>
        </div>
        <div class="hce-card-footer">
          <a ui-sref="app.patientHCE.problems">Ver mas...</a>
        </div>
      </div>
      <div class="well hce-card">
        <div class="hce-card-title">
          Vacunas (3)
        </div>
        <div class="hce-card-body">
            <ul>
              <li>Vacuna 1 - 21/02/2017</li>
              <li>Vacuna 2 - 21/02/2017</li>
              <li>Vacuna 3 - 21/02/2017</li>
            </ul>
        </div>
        <div class="hce-card-footer">
          <a ui-sref="app.patientHCE.treatments">Ver mas...</a>
        </div>
      </div>
      <div class="well hce-card">
        <div class="hce-card-title">
          Notas (2)
        </div>
        <div class="hce-card-body">
            <ul>
              <li>Nota 1</li>
              <li>Nota 2</li>
            </ul>
        </div>
        <div class="hce-card-footer">
          <a href="#">Ver mas...</a>
        </div>
      </div>
      <div class="well hce-card">
        <div class="hce-card-title">
          Medicamentos activos
        </div>
        <div class="hce-card-body">
            <ul>
              <li>Ibuprofeno</li>
              <li>Amoxidal Duo</li>
            </ul>
        </div>
        <div class="hce-card-footer">
          <a href="#">Ver mas...</a>
        </div>
      </div>

    </div>

  </div>
</div>
