<div class="container-fluid hce-container-modal">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="hce-form-title">Visualizar tratamiento ARV</div>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
					<div class="list-container">
				    	<table class="table table-condensed table-fixed">
				    		<thead> 
				    			<tr> 
		    						<th>NRTI</th>
				    			</tr> 
				    		</thead>
				    		<tbody>
				    			<tr ng-repeat="medication in Ctrl.nrtiMedications | orderBy:'selected'" ng-class="{success:medication.selected}">
			    					<td style="text-transform: capitalize;" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">    
			    						<div class="checkbox" abm-checkbox label="{{medication.name}}">
									      <input type="checkbox" ng-model="medication.selected" ng-disabled="true">
									    </div>
									</td> 
			    				</tr>
			    			</tbody>
			    		</table>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
					<div class="list-container">
				    	<table class="table table-condensed table-fixed">
				    		<thead> 
				    			<tr> 
		    						<th>NNRTI</th>
				    			</tr> 
				    		</thead>
				    		<tbody>
				    			<tr ng-repeat="medication in Ctrl.nnrtiMedications | orderBy:'selected'"
				    			ng-class="{success:medication.selected}">
			    					<td style="text-transform: capitalize;" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">    
			    						<div class="checkbox" abm-checkbox label="{{medication.name}}">
									      <input type="checkbox" ng-model="medication.selected" ng-disabled="true">
									    </div>
									</td>
								</tr>
			    			</tbody>
			    		</table>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
					<div class="list-container">
				    	<table class="table table-condensed table-fixed">
				    		<thead> 
				    			<tr> 
		    						<th>IP</th>
				    			</tr> 
				    		</thead>
				    		<tbody>
				    			<tr ng-repeat="medication in Ctrl.ipMedications | orderBy:'selected'" ng-class="{success:medication.selected}">
			    					<td style="text-transform: capitalize;" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">    
			    						<div class="checkbox" abm-checkbox label="{{medication.name}}">
									      <input type="checkbox" ng-model="medication.selected" ng-disabled="true">
									    </div>
									</td> 
								</tr>
			    			</tbody>
			    		</table>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
					<div class="list-container">
				    	<table class="table table-condensed table-fixed">
				    		<thead> 
				    			<tr> 
		    						<th>INI</th>
				    			</tr> 
				    		</thead>
				    		<tbody>
				    			<tr ng-repeat="medication in Ctrl.iiMedications | orderBy:'selected'"
				    			ng-class="{success:medication.selected}">
			    					<td style="text-transform: capitalize;" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">    
			    						<div class="checkbox" abm-checkbox label="{{medication.name}}">
									      <input type="checkbox" ng-model="medication.selected" ng-disabled="true">
									    </div>
									</td> 
								</tr>
			    			</tbody>
			    		</table>
					</div>
				</div>
			</div>
			<div class="row arv-treatment-selection-row">
				<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-md-offset-2 col-lg-offset-2">
					<div class="list-container">
				    	<table class="table table-condensed table-fixed">
				    		<thead> 
				    			<tr> 
		    						<th>COMBOS</th>
				    			</tr> 
				    		</thead>
				    		<tbody>
				    			<tr ng-repeat="medication in Ctrl.comboMedications | orderBy:'selected'"
				    			ng-class="{success:medication.selected}">
			    					<td style="text-transform: capitalize;" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">    
			    						<div class="checkbox" abm-checkbox label="{{medication.name}}">
									      <input type="checkbox" ng-model="medication.selected" ng-disabled="true">
									    </div>
									</td> 
								</tr>
			    			</tbody>
			    		</table>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
					<div class="list-container">
				    	<table class="table table-condensed table-fixed">
				    		<thead> 
				    			<tr> 
		    						<th>OTROS</th>
				    			</tr> 
				    		</thead>
				    		<tbody>
				    			<tr ng-repeat="medication in Ctrl.otherMedications | orderBy:'selected'"
				    			ng-class="{success:medication.selected}">
			    					<td style="text-transform: capitalize;" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">    
			    						<div class="checkbox" abm-checkbox label="{{medication.name}}">
									      <input type="checkbox" ng-model="medication.selected" ng-disabled="true">
									    </div>
									</td> 
								</tr>
			    			</tbody>
			    		</table>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<abm-form-group class="form-group-lg">
						<label abm-label for="problem" type="static">Problema del paciente(*)</label>
						<input class="form-control" name="problem" ng-model="Ctrl.patientArvTreatment.patientProblem.problem.name" abm-form-control ng-disabled="true">
						</select>
					</abm-form-group>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div abm-form-group name="medications">
							<table class="table table-condensed">
								<thead> 
									<tr> 
										<th>Medicamento</th>
										<th><label class="control-label isnot-error">Cantidad por día(*)</label></th>
										<th><label class="control-label isnot-error">Cantidad por mes(*)</label></th>
									</tr> 
								</thead>
								<tbody>
									<tr ng-repeat="(key, medication) in Ctrl.patientArvTreatment.patientARVTreatmentMedications">
										<td><div style="margin-top: 10px;margin-bottom: 9px;">{{medication.medication.abbreviation + (medication.medication.composition?' ' +medication.medication.composition:'' ) + (medication.medication.presentation?' ' +medication.medication.presentation:'' )}}</div></td> 
										<td>
											<input type="text" ng-model="medication.quantityPerDay"  min="0" disabled="disabled" ng-pattern="/^[0-9]+(\.[0-9]{1,1})?$/" step="0.1"/>
										</td> 
										<td>
											<input type="text"  ng-model="medication.quantityPerMonth" min="0" disabled="disabled" ng-pattern="/^[0-9]+(\.[0-9]{1,1})?$/" step="0.1"/>
										</td> 
									</tr>
								</tbody>
							</table>
						</div>
					</div>
			</div>

			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
				  	<abm-form-group>
					    <label data-abm-label type="static">Fecha de inicio(*)</label>
							<div class="input-group">
								<input type="text" class="form-control" uib-datepicker-popup="d!/M!/yyyy" name="startDate" ng-model="Ctrl.patientArvTreatment.startDate" is-open="Ctrl.startDateCalendar.opened" datepicker-options="Ctrl.startDateCalendar.options" close-text="Cerrar" alt-input-formats="Ctrl.startDateCalendar.altInputFormats" current-text="Hoy" clear-text="Limpiar" ng-disabled="true"/>
		                        <div class="input-group-btn">
		                          <button type="button" class="btn btn-default" ng-click="Ctrl.startDateCalendar.open()"><i class="glyphicon glyphicon-calendar"></i></button>
		                        </div>
						    </div>
				  	</abm-form-group>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" ng-show="Ctrl.patientArvTreatment.state=='Closed'">
				  	<abm-form-group>
					    <label data-abm-label type="static">Fecha de fin(*)</label>
							<div class="input-group">
								<input type="text" class="form-control" uib-datepicker-popup="d!/M!/yyyy" name="startDate" ng-model="Ctrl.patientArvTreatment.endDate" is-open="Ctrl.endDateCalendar.opened" datepicker-options="Ctrl.endDateCalendar.options" close-text="Cerrar" alt-input-formats="Ctrl.endDateCalendar.altInputFormats" current-text="Hoy" clear-text="Limpiar" ng-disabled="true"/>
		                        <div class="input-group-btn">
		                          <button type="button" class="btn btn-default" ng-click="Ctrl.endDateCalendar.open()"><i class="glyphicon glyphicon-calendar"></i></button>
		                        </div>
						    </div>
				  	</abm-form-group>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
				  	<abm-form-group>
				    	<label abm-label type="static">Estado del tratamiento(*)</label>
					    <div class="radio" abm-radio label="Activo">
					      <input type="radio" name="activo" value="Active" ng-model="Ctrl.patientArvTreatment.state" ng-disabled="true">
					    </div>
					    <div class="radio" abm-radio label="Inactivo">
					      <input type="radio" name="inactivo" value="Closed" ng-model="Ctrl.patientArvTreatment.state" ng-disabled="true">
					    </div>					    
				  	</abm-form-group>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" ng-show="Ctrl.patientArvTreatment.state=='Closed'">
					<abm-form-group class="form-group-lg">
				    	<label abm-label for="reason" type="static">Motivo de cambio(*)</label>
				    	<select class="form-control" name="reason" ng-options="reason  for reason in Ctrl.changeReasons" ng-model="Ctrl.patientArvTreatment.changeReason" abm-form-control ng-disabled="true">
				    	</select>
				  	</abm-form-group>
		  		</div>

			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<abm-form-group>
				    	<label data-abm-label type="static">Observaciones</label>
				    	<textarea type="text" abm-form-control ng-model="Ctrl.patientArvTreatment.observations" ng-disabled="true"></textarea>
				  	</abm-form-group>
		  		</div>
		  	</div>
			<div class="row" >
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="row" >
					  	<div>
								<button class="btn btn-danger pull-left" ng-click="Ctrl.markAsError()" >Pasar a error</button>
					  		<button class="btn btn-default pull-right" ng-click="Ctrl.cancel()">Cerrar</button>
					  	</div>
				  	</div>
			  	</div>
			</div>		    					
		</div>
	</div>
</div>