<div class="container-fluid hce-container-modal">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="hce-form-title">Generar receta</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					Hasta dos medicamentos por receta
					<table class="table table-condensed table-fixed">
			    		<thead> 
			    			<tr> 
	    						<th class="col-xs-8 col-sm-8 col-md-8 col-lg-8">Medicamento(*)</th>
	    						<th class="col-xs-4 col-sm-4 col-md-4 col-lg-4">Cantidad de envases(*)</th>
			    			</tr> 
			    		</thead>
			    		<tbody>
			    			<tr ng-repeat="recipePatientMedication in NewMedicationRecetaController.recipePatientMedications" ng-class="{success:recipePatientMedication.medication.selected}">
		    					<td style="text-transform: capitalize;" class="col-xs-8 col-sm-8 col-md-8 col-lg-8">    
		    						<div class="checkbox" abm-checkbox label="{{recipePatientMedication.medication.name}}{{recipePatientMedication.medicationPresentation?' ('+recipePatientMedication.medicationPresentation.name+')':''}}">
								      <input type="checkbox" ng-disabled="!recipePatientMedication.medication.selected &&NewMedicationRecetaController.selectedMedications.length>1" ng-model="recipePatientMedication.medication.selected" ng-change="NewMedicationRecetaController.toggleMedicationSelection(recipePatientMedication)">
								    </div>
								</td> 
								<td class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
									<input type="number" onkeypress="return event.charCode >= 48" min="0" ng-model="recipePatientMedication.quantityPerMonth"/>
								</td>
							</tr>
		    			</tbody>
		    		</table>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
				  	<abm-form-group>
					    <label data-abm-label type="static">Fecha de emisión(*) <small><em>(dd/mm/aaaa o dd-mm-aaaa)</em></small></label>
							<div class="input-group">
								<input type="text" class="form-control" uib-datepicker-popup="d!/M!/yyyy" name="issuedDate" ng-model="NewMedicationRecetaController.newReceta.issuedDate" is-open="NewMedicationRecetaController.startDateCalendar.opened" datepicker-options="NewMedicationRecetaController.startDateCalendar.options" close-text="Cerrar" alt-input-formats="NewMedicationRecetaController.startDateCalendar.altInputFormats" current-text="Hoy" clear-text="Limpiar"/>
		                        <div class="input-group-btn">
		                          <button type="button" class="btn btn-default" ng-click="NewMedicationRecetaController.startDateCalendar.open()"><i class="glyphicon glyphicon-calendar"></i></button>
		                        </div>
						    </div>
				  	</abm-form-group>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="checkbox" abm-checkbox label="Requiere duplicado">
				      	<input type="checkbox" ng-model="NewMedicationRecetaController.newReceta.duplicateRequired">
				    </div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<abm-form-group>
				    	<label data-abm-label type="static">Observaciones</label>
				    	<textarea type="text" abm-form-control ng-model="NewMedicationRecetaController.newReceta.observations"></textarea>
				  	</abm-form-group>
		  		</div>
		  	</div>
			<div class="row" >
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="row" >
					  	<div>
					  		<button class="btn btn-success btn-raised pull-right" ng-click="NewMedicationRecetaController.save()"  ng-disabled="!NewMedicationRecetaController.canSave()">Generar receta</button>
					  		<button class="btn btn-default pull-right" ng-click="NewMedicationRecetaController.cancel()">Cancelar</button>
					  	</div>
				  	</div>
			  	</div>
			</div>		    					
		</div>
	</div>
</div>