<div class="container-fluid hce-container-modal">
	<form name="NewPatientMedicationController.controllerForm"> 
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="hce-form-title">Nuevo medicamento</div>
					</div>
				</div>
				<div class="row">
					<div ng-show="NewPatientMedicationController.error" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 alert alert-warning">
						{{NewPatientMedicationController.error}}
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<abm-form-group name="medicationName">
			    			<label data-abm-label type="static">Escriba el medicamento(*)</label>
	                		<input type="text" name="medicationName" abm-form-control ng-model="NewPatientMedicationController.newPatientMedication.medication" uib-typeahead="medication as medication.name for medication in NewPatientMedicationController.getMedications($viewValue)" class="form-control" typeahead-min-length="3" ng-required="true">
	                	</abm-form-group>
	                </div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
					  	<abm-form-group ng-class="{'has-error':NewPatientMedicationController.controllerForm.startDate.$invalid}" name="startDate">
						    <label data-abm-label type="static">Fecha de inicio(*) <small><em>(dd/mm/aaaa o dd-mm-aaaa)</em></small></label>
								<div class="input-group">
									<input type="text" class="form-control" uib-datepicker-popup="d!/M!/yyyy" id="startDate" name="startDate" ng-model="NewPatientMedicationController.newPatientMedication.startDate" is-open="NewPatientMedicationController.startDateCalendar.opened" datepicker-options="NewPatientMedicationController.startDateCalendar.options" close-text="Cerrar" alt-input-formats="NewPatientMedicationController.startDateCalendar.altInputFormats" current-text="Hoy" clear-text="Limpiar" ng-required="true" ng-change="NewPatientMedicationController.endDateCalendar.updateMinVal()"/>
			                        <div class="input-group-btn">
			                          <button type="button" class="btn btn-default" ng-click="NewPatientMedicationController.startDateCalendar.open()"><i class="glyphicon glyphicon-calendar"></i></button>
			                        </div>
							    </div>
					  	</abm-form-group>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" ng-show="NewPatientMedicationController.newPatientMedication.state=='Closed'">
					  	<abm-form-group ng-class="{'has-error':NewPatientMedicationController.controllerForm.endDate.$invalid}" name="endDate">
						    <label data-abm-label type="static">Fecha de fin(*) <small><em>(dd/mm/aaaa o dd-mm-aaaa)</em></small></label>
								<div class="input-group">
									<input type="text" class="form-control" uib-datepicker-popup="d!/M!/yyyy" name="startDate" ng-model="NewPatientMedicationController.newPatientMedication.endDate" is-open="NewPatientMedicationController.endDateCalendar.opened" datepicker-options="NewPatientMedicationController.endDateCalendar.options" close-text="Cerrar" alt-input-formats="NewPatientMedicationController.endDateCalendar.altInputFormats" current-text="Hoy" clear-text="Limpiar" ng-required="NewPatientMedicationController.newPatientMedication.state=='Closed'" ng-change="NewPatientMedicationController.startDateCalendar.updateMaxVal()"/>
			                        <div class="input-group-btn">
			                          <button type="button" class="btn btn-default" ng-click="NewPatientMedicationController.endDateCalendar.open()"><i class="glyphicon glyphicon-calendar"></i></button>
			                        </div>
							    </div>
					  	</abm-form-group>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<abm-form-group class="form-group-lg">
					    	<label abm-label for="presentationType" type="static">Forma de presentación(*)</label>
					    	<select class="form-control" name="presentationType" ng-options="presentationType.administrationType for presentationType in NewPatientMedicationController.newPatientMedication.medication.presentations | unique:'administrationType'" ng-model="NewPatientMedicationController.newPatientMedication.presentationType" abm-form-control ng-required="true">
					    	</select>
					  	</abm-form-group>
			  		</div>
			  	</div>
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<abm-form-group class="form-group-lg">
					    	<label abm-label for="presentation" type="static">Presentacion(*)</label>
					    	<select class="form-control" name="presentation" ng-options="presentation.name for presentation in NewPatientMedicationController.newPatientMedication.medication.presentations | filter:{administrationType:NewPatientMedicationController.newPatientMedication.presentationType.administrationType}" ng-model="NewPatientMedicationController.newPatientMedication.medicationPresentation" abm-form-control ng-required="true">
					    	</select>
					  	</abm-form-group>
			  		</div>
			  	</div>

				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					  	<abm-form-group>
					    	<label abm-label type="static">Estado del medicamento(*)</label>
						    <div class="radio" abm-radio label="Activo">
						      <input type="radio" name="activo" value="Active" ng-model="NewPatientMedicationController.newPatientMedication.state" ng-required="true" ng-change="NewPatientMedicationController.changeStatus()">
						    </div>
						    <div class="radio" abm-radio label="Inactivo">
						      <input type="radio" name="inactivo" value="Closed" ng-model="NewPatientMedicationController.newPatientMedication.state" ng-required="true">
						    </div>					    
					  	</abm-form-group>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<abm-form-group class="form-group-lg">
					    	<label abm-label for="problem" type="static">Problema del paciente(*)</label>
					    	<select class="form-control" name="problem" ng-required="true" ng-options="problem as problem.problem.name for problem in NewPatientMedicationController.activeProblems" ng-model="NewPatientMedicationController.newPatientMedication.activeProblems" abm-form-control ng-required="true">
					    	</select>
					  	</abm-form-group>
			  		</div>
			  	</div>
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<abm-form-group>
					    	<label data-abm-label type="static">Observaciones</label>
					    	<textarea type="text" abm-form-control ng-model="NewPatientMedicationController.newPatientMedication.observations"></textarea>
					  	</abm-form-group>
			  		</div>
			  	</div>
				<div class="row" >
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="row" >
						  	<div>
						  		<button class="btn btn-success btn-raised pull-right" ng-click="NewPatientMedicationController.save()"  ng-disabled="!NewPatientMedicationController.canSave()">Guardar</button>
						  		<button class="btn btn-default pull-right" ng-click="NewPatientMedicationController.cancel()">Cancelar</button>
						  	</div>
					  	</div>
				  	</div>
				</div>		    					
			</div>
		</div>
	</form>
</div>