<div class="do-print">
	
	<div class="container-fluid">
		<div class="row">
			<div class="pull-right" style="padding: 10px">{{Ctrl.prescription.id}}</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="row prescriptionPatientName">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="hce-form-title">
							{{Ctrl.prescription.paciente.firstName}} {{Ctrl.prescription.paciente.fatherSurname}}
						</div>
					</div>
				</div>
				<div class="row prescriptionPatientSocialService" ng-if="Ctrl.prescription.paciente.socialService && Ctrl.prescription.paciente.socialService.name !='No tiene'">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="">
							{{Ctrl.prescription.paciente.socialService.name}} 
						</div>
						<div class="">
							{{Ctrl.prescription.paciente.socialServiceNumber}}
						</div>
					</div>
				</div>
				<div class="prescriptionMedicationsList">
					<div class="row prescriptionMedication" ng-repeat="prescriptedMedication in Ctrl.prescription.prescriptedMedications">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="hce-form-title">
								{{prescriptedMedication.medication.name}}     {{prescriptedMedication.dayCount?prescriptedMedication.dayCount+'('+Ctrl.numberToText(prescriptedMedication.dayCount)+')':'1(uno)'}}
							</div>
							<div class="">
								Presentacion
							</div>
						</div>
					</div>
				</div>	    					
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
				{{Ctrl.prescription.observations}}
			</div>
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
			</div>
		</div>
		<div class="row" style="margin-top: 100px">
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 hce-form-title">
				{{Ctrl.prescription.issuedDate| date:"d/M/yy"}}
			</div>
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 hce-form-title">
				Firma y sello
			</div>
		</div>
	</div>
	<div style="break-after: always;" ng-if="Ctrl.prescription.duplicateRequired==true"></div>
	<div ng-if="Ctrl.prescription.duplicateRequired==true">
		<div class="container-fluid">
			<div class="row">
				<div class="pull-right" style="padding-right: 10px">{{Ctrl.prescription.id}}</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="row prescriptionPatientName">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="hce-form-title">
								{{Ctrl.prescription.paciente.firstName}} {{Ctrl.prescription.paciente.fatherSurname}}
							</div>
						</div>
					</div>
					<div class="row prescriptionPatientSocialService" ng-if="Ctrl.prescription.paciente.socialService && Ctrl.prescription.paciente.socialService.name !='No tiene'">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="">
								{{Ctrl.prescription.paciente.socialService.name}} 
							</div>
							<div class="">
								{{Ctrl.prescription.paciente.socialServiceNumber}}
							</div>
						</div>
					</div>
					<div class="prescriptionMedicationsList">
						<div class="row prescriptionMedication" ng-repeat="prescriptedMedication in Ctrl.prescription.prescriptedMedications">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<div class="hce-form-title">
									{{prescriptedMedication.medication.name}}     {{prescriptedMedication.dayCount?prescriptedMedication.dayCount+'('+Ctrl.numberToText(prescriptedMedication.dayCount)+')':'1(uno)'}}
								</div>
								<div class="">
									Presentación
								</div>
							</div>
						</div>
					</div>	    					
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 hce-form-title">
					DUPLICADO
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					{{Ctrl.prescription.observations}}
				</div>
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
				</div>
			</div>
			<div class="row" style="margin-top: 100px">
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 hce-form-title">
					{{Ctrl.prescription.issuedDate| date:"d/M/yy"}}
				</div>
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 hce-form-title">
					Firma y sello
				</div>
			</div>
		</div>
	</div>
</div>
