<button  class="btn btn-success btn-raised btn-lg btn-block" ng-click="MedicationRecetaNuevaController.print()">Imprimir</button>
<div class="do-print" id="section-to-copy">
	<div ng-repeat="prescription in MedicationRecetaNuevaController.prescriptionsArray">
		<div class="container-fluid">
			<div class="row">
				<img src="{{MedicationRecetaNuevaController.headerImage}}" class="center-block">	
			</div>
			<div class="row">
				<div class="pull-right" style="padding: 10px">Nro de receta: {{prescription.id}}</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="row prescriptionPatientName">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="hce-form-title">
								{{prescription.paciente.firstName}} {{prescription.paciente.otherNames}} {{prescription.paciente.fatherSurname}} {{prescription.paciente.motherSurname}}
							</div>
						</div>
					</div>
					<div class="row prescriptionPatientSocialService" ng-if="prescription.paciente.socialService && prescription.paciente.socialService.name !='No tiene'">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<div class="">
								{{prescription.paciente.socialService.name}} 
							</div>
								<div class="">
								{{prescription.paciente.socialServiceNumber}}
							</div>
						</div>
					</div>
					<div class="prescriptionMedicationsList">
						<div class="row prescriptionMedication" ng-repeat="prescriptedMedication in prescription.prescriptedMedications">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<div class="">
									{{prescriptedMedication.patientMedication.medication.name + ' ' + (prescriptedMedication.patientMedication.medicationPresentation?prescriptedMedication.patientMedication.medicationPresentation.name:'')}}
								</div>

								<div class="">
								{{prescriptedMedication.quantityPerMonth?prescriptedMedication.quantityPerMonth+'('+MedicationRecetaNuevaController.numberToText(prescriptedMedication.quantityPerMonth)+')':'1(uno)'}}

								</div>
							</div>
						</div>
					</div>	    					
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					{{prescription.observations}}
				</div>
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
				</div>
			</div>
			<div class="row" style="margin-top: 300px">
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					{{prescription.issuedDate| date:"d/M/yy"}}
				</div>
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					Firma y sello
				</div>
			</div>
		</div>
		<div style="page-break-after: always;" ng-if="prescription.duplicateRequired==true"></div>
		<div ng-if="prescription.duplicateRequired==true">
			<div class="container-fluid">
				<div class="row">
					<img src="{{MedicationRecetaNuevaController.headerImage}}" class="center-block">	
				</div>
				<div class="row">
				<div class="pull-right" style="padding: 10px">Nro de receta: {{prescription.id}}</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="row prescriptionPatientName">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<div class="hce-form-title">
									{{prescription.paciente.firstName}} {{prescription.paciente.otherNames}} {{prescription.paciente.fatherSurname}} {{prescription.paciente.motherSurname}}
								</div>
							</div>
						</div>
						<div class="row prescriptionPatientSocialService" ng-if="prescription.paciente.socialService && prescription.paciente.socialService.name !='No tiene'">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<div class="">
									{{prescription.paciente.socialService.name}} 
								</div>
								<div class="">
									{{prescription.paciente.socialServiceNumber}}
								</div>
							</div>
						</div>
						<div class="prescriptionMedicationsList">
							<div class="row prescriptionMedication" ng-repeat="prescriptedMedication in prescription.prescriptedMedications">
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div class="">
										{{prescriptedMedication.patientMedication.medication.name + ' ' + (prescriptedMedication.patientMedication.medicationPresentation?prescriptedMedication.patientMedication.medicationPresentation.name:'')}}
									</div>
									<div class="">
										{{prescriptedMedication.quantityPerMonth?prescriptedMedication.quantityPerMonth+'('+MedicationRecetaNuevaController.numberToText(prescriptedMedication.quantityPerMonth)+')':'1(uno)'}}
									</div>
								</div>
							</div>
						</div>	    					
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 hce-form-title">
						DUPLICADO
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
						{{prescription.observations}}
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					</div>
				</div>
				<div class="row" style="margin-top: 300px">
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
						{{prescription.issuedDate| date:"d/M/yy"}}
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
						Firma y sello
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
