

<div class="container-fluid">
  	<div class="row">	
	    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    		<div class="well" style="min-height:350px">
			    <div class="row">
					<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8"><h2>Problemas activos y resueltos</h2></div>
					<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
							<button class="btn btn-success btn-raised pull-right" ng-show="!PatientProblemsController.showNewPatientProblem" ng-click="PatientProblemsController.openNewProblemModal()">Agregar problema</button>
					</div>
				</div>
		    	<table class="table Medication table-condensed">
		    		<thead> 
		    			<tr> 
		    				<th>Nombre</th>
		    				<th>Fecha inicio</th>
		    				<th>Fecha fin</th>
		    				<th>Observaciones</th>
		    				<th></th>
		    			</tr> 
		    		</thead>
		    		<tbody>
		    			<tr ng-repeat="problem in PatientProblemsController.activeProblems" class="hce-table-row" ng-class="{'problem-closed':problem.state=='Closed','registry-error':problem.state=='Error' }">
	    					<td style="text-transform: capitalize;">{{problem.problem.name}}</td> 
	    					<td>{{(problem.startDate | date: "dd/MM/yyyy") || 'No informado'}}</td> 
	    					<td>{{(problem.closeDate | date: "dd/MM/yyyy") || '-'}}</td> 
	    					<td>{{problem.observations}}</td> 
	    					<td>
		    					<button class="btn btn-info" type="button" ng-show="PatientProblemsController.canEditProblem(problem)" ng-click="PatientProblemsController.openEditProblemModal(problem)" style="padding: 6px 12px; margin:0px; text-transform: none;"><i class="fa fa-pencil"></i> Editar</button>
	    					</td> 
    					</tr>
    				</tbody>
    			</table>
		  		<div uib-pagination boundary-link-numbers="true" first-text="Primer" last-text="Ultima"  previous-text="Anterior" next-text="Siguiente" total-items="PatientProblemsController.totalItems" items-per-page="PatientProblemsController.pageSize" ng-model="PatientProblemsController.currentPage" ng-change="PatientProblemsController.pageChanged()" class="pagination-sm" ng-show="PatientProblemsController.totalItems">
		  		</div>
			</div>
		</div>
	</div>

  	<div class="row">	
	    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    		<div class="well" style="min-height:350px">
			    <div class="row">
					<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8"><h2>Antecedentes familiares</h2></div>
					<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
							<button class="btn btn-success btn-raised pull-right" ng-click="PatientProblemsController.openNewFamilyProblemModal()">Agregar antecedente</button>
					</div>
				</div>
		    	<table class="table Medication table-condensed">
		    		<thead> 
		    			<tr> 
		    				<th>Nombre</th>
		    				<th>Parentesco</th>
		    				<th>Observaciones</th>
		    				<th></th>
		    			</tr> 
		    		</thead>
		    		<tbody>
		    			<tr ng-repeat="problem in PatientProblemsController.familyProblems" ng-class="{'problem-closed':problem.state=='Closed','registry-error':problem.state=='Error' }">
	    					<td>{{problem.problem.name}}</td> 
	    					<td>{{problem.relationship | translateRelationship}}</td> 
	    					<td>{{problem.observations}}</td> 
	    					<td>
		    					<button class="btn btn-info" type="button" ng-click="PatientProblemsController.openEditFamilyProblemModal(problem)" style="padding: 6px 12px; margin:0px; text-transform: none;"><i class="fa fa-pencil"></i> Editar</button>
	    					</td> 
    					</tr>
    				</tbody>
    			</table>
				<div class="row" ng-show="PatientProblemsController.familyPager.totalItems">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				  		<div uib-pagination boundary-link-numbers="true" previous-text="Anterior" next-text="Siguiente" total-items="PatientProblemsController.familyPager.totalItems" items-per-page="PatientProblemsController.familyPager.pageSize" ng-model="PatientProblemsController.familyPager.currentPage" ng-change="PatientProblemsController.familyPager.pageChanged()" class="pagination-sm"></div>
				  	</div>
				</div>
	    	</div>
	    </div>
	</div>
</div>