<div class="container-fluid">
  	<div class="row">
	    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="well" style="padding: 0px;">
				<div style="padding-right: 15px; padding-left: 15px;">
				  	<div class="row">
						<div class="col-xs-2 col-sm-2 col-md-1 col-lg-1">
				            <abm-form-group>
				              <label abm-label for="fromprovince">Tipo</label>
				                <select class="form-control" name="fromprovince" ng-model="PSCtrl.filter.fromProvinceId" ng-options="province.id as province.name for province in PSCtrl.provinces | orderBy: 'name'  track by province.id" abm-form-control>
				                  <option value="">DNI</option>
				                </select>
				            </abm-form-group>
						</div>
						<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
				            <abm-form-group>
				              <label abm-label for="destinationprovince">Número de documento</label>
				                <select class="form-control" name="destinationprovince" ng-model="PSCtrl.filter.destinationProvinceId" ng-options="province.id as province.name for province in PSCtrl.provinces | orderBy: 'name'  track by province.id" abm-form-control>
				                  <option value=""></option>
				                </select>
				            </abm-form-group>
						</div>
						<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
				            <abm-form-group>
				              <label abm-label for="loadCategory">Nombre</label>
				                <select class="form-control" name="loadCategory" ng-model="PSCtrl.filter.loadCategoryId" ng-options="loadCategory.id as loadCategory.name for loadCategory in PSCtrl.loadCategories | orderBy: 'name'  track by loadCategory.id" abm-form-control>
				                  <option value=""></option>
				                </select>
				            </abm-form-group>

						</div>
						<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
				            <abm-form-group>
				              <label abm-label for="status">Apellido</label>
				                <select class="form-control" name="status" ng-model="PSCtrl.filter.status" ng-options="status as status for status in PSCtrl.statuses" abm-form-control>
				                  <option value=""></option>
				                </select>
				            </abm-form-group>

						</div>
						<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
							<button ng-click="PSCtrl.search()" class="btn btn-raised btn-info">Buscar</button>
						</div>
					</div>
				</div>
			</div>
	    	<div class="well">
		    	<table class="table table-hover">
		    		<caption>Problemas activos</caption>
		    		<thead> 
		    			<tr> 
		    				<th>Nombre</th>
		    				<th>Fecha de inicio</th>
		    				<th></th>
		    			</tr> 
		    		</thead>
		    		<tbody>
		    			<tr ng-repeat="problem in PSCtrl.activeProblems">
	    					<td>{{problems.name}}</td> 
	    					<td>{{(problem.startDate | date: "dd/MM/yyyy") || 'No informado'}}</td> 
	    					<td>
		    					<button class="btn btn-info" type="button" ng-click="PSCtrl.patientDetail(patient)" style="padding: 6px 12px; margin:0px; text-transform: none;"><i class="fa fa-file"></i> Detalles</button>
		    					<button class="btn btn-success" type="button" ng-click="PSCtrl.openPatient(patient)" style="padding: 6px 12px; margin:0px; text-transform: none;"><i class="fa fa-vcard"></i> Abrir historia</button>
	    					</td> 
    					</tr>
    				</tbody>
    			</table>
		    	<table class="table table-hover">
		    		<caption>Problemas resueltos - antecedentes</caption>
		    		<thead> 
		    			<tr> 
		    				<th>Nombre</th>
		    				<th>Fecha de inicio</th>
		    				<th>Fecha de fin</th>
		    				<th></th>
		    			</tr> 
		    		</thead>
		    		<tbody>
		    			<tr ng-repeat="problem in PSCtrl.activeProblems">
	    					<td>{{problems.name}}</td> 
	    					<td>{{(problem.startDate | date: "dd/MM/yyyy") || 'No informado'}}</td> 
	    					<td>{{(problem.endDate | date: "dd/MM/yyyy") || 'No informado'}}</td> 
	    					<td>
		    					<button class="btn btn-info" type="button" ng-click="PSCtrl.patientDetail(patient)" style="padding: 6px 12px; margin:0px; text-transform: none;"><i class="fa fa-file"></i> Detalles</button>
		    					<button class="btn btn-success" type="button" ng-click="PSCtrl.openPatient(patient)" style="padding: 6px 12px; margin:0px; text-transform: none;"><i class="fa fa-vcard"></i> Abrir historia</button>
	    					</td> 
    					</tr>
    				</tbody>
    			</table>
	    	</div>
	    </div>
	</div>
</div>