<hce-common-navbar hce-title="Búsqueda de pacientes"></hce-common-navbar>
<div class="modal fade" ng-class="{'in':PatientSearchController.changePacientModal.style}" ng-style="PatientSearchController.changePacientModal.style">
    <div class="modal-dialog modal-confirmation">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" style="font-weight: bold;">¿Cambiar paciente seleccionado?</h4>
            </div>
            <div class="modal-body">
              Tiene cambios no guardados del paciente {{PatientSearchController.changePacientModal.currentPaciente.firstName}} {{PatientSearchController.changePacientModal.currentPaciente.fatherSurname}}, si cambia de paciente se perderan.
              ¿Esta seguro que desea abrir el paciente seleccionado?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="PatientSearchController.changePacientModal.cancel()">Cancelar</button>
                <button type="button" class="btn btn-success" ng-click="PatientSearchController.changePacientModal.confirm()"><span class="glyphicon glyphicon-ok"></span> Confirmar</button>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
  	<div class="row">
	    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="well">
				<form ng-submit="PatientSearchController.lookForPacientes()">
					<div style="padding-right: 15px; padding-left: 15px;">
					  	<div class="row">
					  		<div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
						  		<div class="row">
	  								<div class="col-xs-12 col-sm-2 col-md-1 col-lg-1">
							            <abm-form-group>
							              <label abm-label for="documentType">Tipo</label>
							                <select class="form-control" name="documentType" ng-model="PatientSearchController.filter.documentType" ng-options="documentType.id as documentType.name for documentType in PatientSearchController.documentTypes | orderBy: 'name'  track by documentType.id" abm-form-control>
							                </select>
							            </abm-form-group>
									</div>
									<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
							            <abm-form-group>
							              <label abm-label for="documentNumber">Número de documento</label>
							                <input class="form-control" name="documentNumber" ng-model="PatientSearchController.filter.documentNumber" onkeypress='return event.charCode >= 48 && event.charCode <= 57' abm-form-control/>
							            </abm-form-group>
									</div>
									<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
							            <abm-form-group>
							              <label abm-label for="firstName">Nombre</label>
							                <input class="form-control" name="firstName" ng-model="PatientSearchController.filter.firstName" abm-form-control/>
							            </abm-form-group>
									</div>
									<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
							            <abm-form-group>
							              <label abm-label for="fatherSurname">Apellido</label>
							                <input class="form-control" name="fatherSurname" ng-model="PatientSearchController.filter.fatherSurname" abm-form-control/>
							            </abm-form-group>
									</div>
									<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
							            <abm-form-group>
							            	<label abm-label for="birthDate">Fecha de nacimiento <small><em>(dd/mm/aaaa o dd-mm-aaaa)</em></small> </label>
				                      		<div class="input-group">
												<input type="text" class="form-control" uib-datepicker-popup="d!/M!/yyyy" name="birthDate" ng-model="PatientSearchController.filter.birthDate" is-open="PatientSearchController.birthDateCalendarPopup.opened" datepicker-options="PatientSearchController.birthDateCalendarPopup.options" close-text="Cerrar" alt-input-formats="PatientSearchController.birthDateCalendarPopup.altInputFormats" current-text="Hoy" clear-text="Limpiar"/>
						                        <span class="input-group-btn">
						                          <button type="button" class="btn btn-default" ng-click="PatientSearchController.birthDateCalendarPopup.open()"><i class="glyphicon glyphicon-calendar"></i></button>
						                        </span>
							            	</div>
							            </abm-form-group>
									</div>

									<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
										<abm-form-group>
						                  <label abm-label for="profesional">Atendido por</label>
						                  <select class="form-control" name="profesional" ng-model="PatientSearchController.filter.seenBy" ng-options="profesional.id as profesional.firstName+' '+profesional.fatherSurname for profesional in PatientSearchController.profesionales track by profesional.id" abm-form-control>
						                    <option value="">Seleccione un profesional</option>
						                  </select>
						              </abm-form-group>
									</div>
									<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
							            <abm-form-group>
							            	<label abm-label for="visitFromDate">Atendido en intervalo desde <small><em>(dd/mm/aaaa o dd-mm-aaaa)</em></small></label>
				                      		<div class="input-group">
												<input type="text" class="form-control" uib-datepicker-popup="d!/M!/yyyy" name="visitFromDate" ng-model="PatientSearchController.filter.visitFromDate" is-open="PatientSearchController.visitFromDateCalendarPopup.opened" datepicker-options="PatientSearchController.visitFromDateCalendarPopup.options" close-text="Cerrar" alt-input-formats="PatientSearchController.visitFromDateCalendarPopup.altInputFormats" current-text="Hoy" clear-text="Limpiar"/>
						                        <span class="input-group-btn">
						                          <button type="button" class="btn btn-default" ng-click="PatientSearchController.visitFromDateCalendarPopup.open()"><i class="glyphicon glyphicon-calendar"></i></button>
						                        </span>
							            	</div>
							            </abm-form-group>
									</div>
									<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
							            <abm-form-group>
							            	<label abm-label for="visitToDate">Atendido en intervalo hasta <small><em>(dd/mm/aaaa o dd-mm-aaaa)</em></small></label>
				                      		<div class="input-group">
												<input type="text" class="form-control" uib-datepicker-popup="d!/M!/yyyy" name="visitToDate" ng-model="PatientSearchController.filter.visitToDate" is-open="PatientSearchController.visitToDateCalendarPopup.opened" datepicker-options="PatientSearchController.visitToDateCalendarPopup.options" close-text="Cerrar" alt-input-formats="PatientSearchController.visitToDateCalendarPopup.altInputFormats" current-text="Hoy" clear-text="Limpiar"/>
						                        <span class="input-group-btn">
						                          <button type="button" class="btn btn-default" ng-click="PatientSearchController.visitToDateCalendarPopup.open()"><i class="glyphicon glyphicon-calendar"></i></button>
						                        </span>
							            	</div>
							            </abm-form-group>
									</div>
									<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
										<abm-form-group>
											<label abm-label for="pnsCode">Código PNS</label>
											<input class="form-control" name="pnsCode" ng-model="PatientSearchController.filter.pnsCode" abm-form-control placeholder="NNAADDMMAAAA" />
										</abm-form-group>
									</div>
	  								<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
							            <abm-form-group>
							              <label abm-label for="socialService">Cobertura</label>
							                <select class="form-control" name="socialService" ng-model="PatientSearchController.filter.socialService" ng-options="socialService.id as socialService.name for socialService in PatientSearchController.socialServices | orderBy: 'name'  track by socialService.id" abm-form-control>
							                </select>
							            </abm-form-group>
									</div>
	  								<div class="col-xs-12 col-sm-1 col-md-1 col-lg-1">
							            <abm-form-group>
							              <label abm-label for="status">Estado</label>
							                <select class="form-control" name="status" ng-model="PatientSearchController.filter.status" ng-options="status.id as status.name for status in PatientSearchController.statuses | orderBy: 'name'  track by status.id" abm-form-control>
							                </select>
							            </abm-form-group>
									</div>
									<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
										<span><b>Código PNS formado por:</b></span></br>
										<b>NN</b>: Dos primeras letras del nombre</br>
										<b>AA</b>: Dos primeras letras del apellido</br>
										<b>DDMMAAAA</b>: Fecha de nacimiento
									</div>
					  			</div>
					  		</div>
					  		<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
						  		<div class="row">
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<button type="submit"  ng-disabled="!PatientSearchController.shouldLookForPacient()" class="btn btn-raised btn-info">Buscar</button>
									</div>
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<button type="button"  ng-click="PatientSearchController.clearFilters()" class="btn btn-raised btn-default">Limpiar</button>
									</div>
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<button type="button"  ng-click="PatientSearchController.newPatient()" class="btn btn-raised btn-default">Nuevo paciente</button>
									</div>
						  		</div>
					  		</div>
					  	</div>
				  	</div>
			  	</form>
			</div>
	    	<div class="well">
		    	<table class="table Medication table-condensed"> 
		    		<thead> 
		    			<tr> 
		    				<th>Nombre</th>
		    				<th>Apellido</th>
		    				<th>Tipo y número de documento</th>
		    				<th>Fecha de nacimiento</th>
		    				<th>Teléfono</th>
		    				<th>Obra Social</th>
		    				<th></th>
		    			</tr> 
		    		</thead>
		    		<tbody>
		    			<tr ng-repeat="patient in PatientSearchController.patients">
	    					<td>{{patient.firstName}} {{patient.otherNames}}</td>
	    					<td>{{patient.fatherSurname}} {{patient.motherSurname}}</td> 
	    					<td>{{patient.documentType.name}} {{patient.documentNumber}}</td> 
	    					<td>{{(patient.birthDate | date: "dd/MM/yyyy") || 'No informado'}}</td> 
	    					<td>{{patient.primaryPhoneNumber || 'No informado'}}</td> 
	    					<td>{{patient.socialService?patient.socialService.name : 'No informada'}}</td> 
	    					<td>
	    					<button class="btn btn-info" type="button" ng-click="PatientSearchController.openPacientePersonalInfoModal(patient)" style="padding: 6px 12px; margin:0px; text-transform: none;"><i class="fa fa-file"></i> Datos Personales</button>
	    					<button class="btn btn-success" type="button" ng-click="PatientSearchController.openPatient(patient)" style="padding: 6px 12px; margin:0px; text-transform: none;"><i class="fa fa-vcard"></i> Abrir historia</button>
	    					</td> 
    					</tr>
    				</tbody>
    			</table>
    			<div ng-show="!PatientSearchController.patients" class="text-center" style="padding-top: 20px;padding-bottom: 20px;">Ingrese filtros para buscar</div>
    			<div ng-show="PatientSearchController.patients.length==0" class="text-center" style="padding-top: 20px;padding-bottom: 20px;">No se encontraron pacientes con la búsqueda actual. <a ui-sref="app.newPatient">Crear nuevo paciente</a></div>

	    	</div>
	    </div>
	</div>
</div>