.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;
}

.thumbnail img.pull-right {
  width: 50px;
}

.hce-form-group{
	margin-top:5px;
}
.form-group label.control-label{
	font-size: 14px;
	color:black;
}

.form-group .checkbox label, .form-group .radio label, .form-group label{
	color:black;
}

.lo-section-title{
  font-size: 18px;
}


/*  NLG-Helpers  */

.no-padding {
  padding: 0px;
}

.no-padding-right {
  padding-right: 0px;
}

.no-padding-left {
  padding-left: 0px;
}


.center-text{
  text-align: center;
}


.hce-card {
  padding: 10px;
}

.hce-card-title {
  font-size: 16px;
}

.hce-card-body{

}

.hce-card-body li{
  font-size: 14px;
}

.hce-card-body ul{
  padding-left: 20px;
}

.hce-card-footer{
  text-align: right;
}

.hce-360-navbar-btn{
  font-size: 18px;
  padding-bottom: 5px;
  padding-right: 25px;
  padding-left: 25px;
  margin-top: 10px;
  float: left;
  color: black;
  height: 42px;
  cursor: pointer;
  background-color: #E1D2DE;
  margin-left: 1px;
  padding-top: 8px;
  margin-right: 1px;
}

.hce-360-navbar-btn:first-child{
  margin-left: 0px;
}
.hce-360-navbar-btn:last-child{
  margin-right: 0px;
}

.hce-360-navbar-btn:hover, .hce-360-navbar-btn.active{
  background-color: white;
  color: black;
}

.hce-navbar-patient-name{
  font-size: 35px;
  padding-top: 10px;
  padding-right: 20px;
  color: white;
  font-weight: bold
}

.hce-navbar-patient-age{
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
}

.hce-navbar-visit-active {
  margin-left:20px;
  font-size: 20px;
  font-weight: bold;
  line-height: 56px;
  color: white;
}

.hce-brand {
  height: 71px;
  text-align: center;

}

.hce-brand div {
  padding-top: 5px;
  color: white;
  font-weight: bold;
  font-size: 25px;
}

@media (min-width: 1200px){
  .hce-col-lg-1-5 {
    width: 12.333333%;
  } 
  .hce-col-md-1-5 {
    width: 12.333333%;
  } 
}
.hce-icon-bar{
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}
  

.hce-navbar{
  background-color: #66325F;
  color: rgba(255,255,255, 0.84);
}

.hce-navbar.active-evolution{

}


/*  Drawer */

.hce-navdrawer{
  background-color: #66325F;
  padding-top: 20px;  
  padding: 0px;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 100;
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.hce-navdrawer li{
  color: darkgray;
  margin-top: 0px;
}

.hce-navdrawer li a.bars{
}

.hce-navdrawer li a{
  color: white;
  font-size: 16px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.hce-navdrawer .nav-pills > li > a{
  border-radius: 0px;
}

.hce-navdrawer .nav-pills > li > a:active,
.hce-navdrawer .nav-pills > li > a:hover,
.hce-navdrawer .nav-pills > li > a:focus{
  background-color: white;
  color: #66325F;
}

.hce-navdrawer .nav-pills > li > a.active{
    background-color: white;
    color: #66325F;
}

.hcenavdrawercollapsed{
  width: 57px !important;
}

.hcenavtextcollapsed{
  display: none;
}




.row-panel{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #eaeaea;
  margin-top: 5px;
  margin-bottom: 5px;
}

.well-row{
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 10px;
}

.evolution-header{
  /*margin-bottom: 25px;*/
}

.problem-closed{
  background-color: lightgrey; 
}

.registry-error{
  background-color: #f59088;
}

.hce-input-observation{
  font-size: 12px;
}

.hce-form-title{
  font-weight: bold; 
  font-size: 20px;
}


.form-group {
  padding-bottom: 0px;
}
.form-group .radio label{
  font-size: 12px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  font-weight: bold;
  text-decoration: underline;
}


.well h2{
  margin-top: 12px;
}

.well table{
  margin:0px;
}

.well .pagination{
  margin-top: 10px;
  margin-bottom: 10px;
}

.hce-card-body .col-xs-*, .hce-card-body .col-sm-*, .hce-card-body .col-md-*, .hce-card-body .col-lg-*{
  padding:0px;
}

.hce-container-modal{
  padding-top:10px;
}

.hce-table-row{
  height: 45px;
}

.patient-form .nav-tabs{
  background-color: transparent;
}

.patient-form li.uib-tab.nav-item{
  background-color: #EAEAEA;
}

.patient-form li.uib-tab.nav-item.active{
  background-color: #66325F;
}

.patient-form .nav-tabs > li.active > a{
  color: white!important;
  text-decoration: none!important;
}

.patient-form .nav-tabs > li > a{
  color: black!important;
  text-decoration: none!important;
}

.nav-tabs > li.active > a{
  color: black!important;
  text-decoration: none!important;
}



/*ARV  Treatment*/

.list-container{
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  padding: 5px;
  background-color: #f3f3f3; 
}



.arv-treatment-selection-row {
  margin-top: 20px;
  margin-bottom: 20px;
}




.table-fixed thead {
  width: 97%;
}
.table-fixed tbody {
  height: 200px;
  overflow-y: auto;
  width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
}

.table-fixed label{
  font-size: 14px;
  color: black;
}

.col-xs-1-5{
  width: 12.5;
}
.col-sm-1-5{
  width: 12.5;
}
.col-md-1-5{
  width: 12.5;
}

.col-lg-1-5{
  width: 12.5;
}

.col-xs-offset-1-5{
  margin-left: 12.5%;
}

.col-sm-offset-1-5{
  margin-left: 12.5%;
}

.col-md-offset-1-5{
  margin-left: 12.5%;
}

.col-lg-offset-1-5{
  margin-left: 12.5%;
}




/* Bootstrap rewrite */

.form-group-lg select.form-control{
    height: 50px!important;
    line-height: 44px;
}





/*  Prescriptions  */


.prescriptionPatientName{
  margin-top: 20px;
  margin-bottom: 10px;
}
.prescriptionPatientSocialService{
  margin-top: 20px;
  margin-bottom: 10px;
}
.prescriptionMedicationsList{
  margin-top: 40px;
}
.prescriptionMedication{
  margin-top: 20px;
  margin-bottom: 20px;
}

 @media print
 {
    body {background-color: white}
    .modal-dialog{
      /*width: 100%;*/
/*      position: absolute;
      top: 0px;
*/    }
 }

@media print
{
  body *{
      visibility:hidden;
  }

  .do-print *{
    visibility:visible;
  }
}


.hce-labResult-row{
  margin-bottom: 3px;
  margin-top: 3px;
}

.hce-labResult-header{
  height: 45px;
  text-align: center;
  border-bottom: 2px solid #ddd;
  line-height: 38px;
  font-weight: bold;
  font-size: 16px;
}
.hce-labResult-cell{
  text-align: center;
  height: 30px;
  line-height: 28px;
  border-bottom: solid 1px #ddd;
}

.hce-labResult-cell input{
  width: 100%;
  line-height: 20px;
}
.input-group-small{
  padding: 0px!important;
}


.col-md-1-5, .col-xs-1-5, .col-sm-1-5, .col-lg-1-5 {
  width: 12.333333%;
    float: left;
}

.modal .checkbox{
  margin-top:0px;
  margin-bottom:0px;
}

.result-ltlimit{
  color:#2278cf;
}

.result-btlimit{
  color:#f55549;
}

.row-epicrisis{
  background-color: #1acc96;
}


.form-group select{
  -moz-appearance: menulist;
  -webkit-appearance: menulist;
}


/* Buttons */
.btn.btn-raised.btn-primary, .input-group-btn .btn.btn-raised.btn-primary, .btn.btn-fab.btn-primary, .input-group-btn .btn.btn-fab.btn-primary, .btn-group-raised .btn.btn-primary, .btn-group-raised .input-group-btn .btn.btn-primary{
  background-color: #66325F;
}


.btn.btn-raised:not(.btn-link):hover.btn-primary, .input-group-btn .btn.btn-raised:not(.btn-link):hover.btn-primary, .btn-group-raised .btn:not(.btn-link):hover.btn-primary, .btn-group-raised .input-group-btn .btn:not(.btn-link):hover.btn-primary, .btn.btn-raised:not(.btn-link):focus.btn-primary, .input-group-btn .btn.btn-raised:not(.btn-link):focus.btn-primary, .btn-group-raised .btn:not(.btn-link):focus.btn-primary, .btn-group-raised .input-group-btn .btn:not(.btn-link):focus.btn-primary, .btn.btn-raised:not(.btn-link).active.btn-primary, .input-group-btn .btn.btn-raised:not(.btn-link).active.btn-primary, .btn-group-raised .btn:not(.btn-link).active.btn-primary, .btn-group-raised .input-group-btn .btn:not(.btn-link).active.btn-primary, .btn.btn-raised:not(.btn-link):active.btn-primary, .input-group-btn .btn.btn-raised:not(.btn-link):active.btn-primary, .btn-group-raised .btn:not(.btn-link):active.btn-primary, .btn-group-raised .input-group-btn .btn:not(.btn-link):active.btn-primary{
  background-color: #af56a2;  
}

.form-group.is-focused label, .form-group.is-focused label.control-label {
  color: #66325F;
}
.form-group.is-focused .form-control{
    outline: none;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#66325F), to(#66325F)), -webkit-gradient(linear, left top, left bottom, from(#D2D2D2), to(#D2D2D2));
    background-image: -webkit-linear-gradient(#66325F, #66325F), -webkit-linear-gradient(#D2D2D2, #D2D2D2);
    background-image: -o-linear-gradient(#66325F, #66325F), -o-linear-gradient(#D2D2D2, #D2D2D2);
    background-image: linear-gradient(#66325F, #66325F), linear-gradient(#D2D2D2, #D2D2D2);
    -webkit-background-size: 100% 2px, 100% 1px;
    background-size: 100% 2px, 100% 1px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;

}