.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;
}

.thumbnail img.pull-right {
  width: 50px;
}

.hce-form-group{
	margin-top:5px;
}
.form-group label.control-label{
	font-size: 14px;
	color:black;
}

.form-group .checkbox label, .form-group .radio label, .form-group label{
	color:black;
}

.lo-section-title{
  font-size: 18px;
}


/*  NLG-Helpers  */

.no-padding {
  padding: 0px;
}

.center-text{
  text-align: center;
}


.hce-card {
  padding: 10px;
}

.hce-card-title {
  font-size: 16px;
}

.hce-card-body{

}
.hce-card-body li{
  font-size: 14px;
}

.hce-card-footer{
  text-align: right;
}

.hce-360-navbar-btn{
  font-size: 18px;
  padding-bottom: 5px;
  padding-right: 25px;
  padding-left: 25px;
  margin-top: 10px;
  float: left;
  color: white;
  cursor:pointer; 
}

.hce-360-navbar-btn:hover{
  background-color: #00767E;
  background: #018776; /* Old browsers */
  background: -moz-linear-gradient(top, #018776 0%, #00767e 40%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #018776 0%,#00767e 40%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #018776 0%,#00767e 40%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#018776', endColorstr='#00767e',GradientType=0 ); /* IE6-9 */
}

.hce-360-navbar-btn.active{
  font-weight: bold;
  border-bottom: 2px solid black;
}

.hce-navbar-patient-name{
  font-size: 35px;
  padding-top: 10px;
  color: white;
  font-weight: bold
}

.hce-navbar-patient-age{
  padding-bottom: 10px;
  color: white;
}

.hce-navbar-visit-active {
  margin-left:20px;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.hce-brand {
  height: 46px;
  border-right: 1px solid;
  border-color: lightgrey;
  text-align: center;

}

.hce-brand div {
  padding-top: 5px;
  color: white;
  font-weight: bold;
  font-size: 25px;
}

@media (min-width: 1200px){
  .hce-col-lg-1-5 {
    width: 12.333333%;
  } 
  .hce-col-md-1-5 {
    width: 12.333333%;
  } 
}
.hce-icon-bar{
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}
  

.hce-navbar{
  background-color: #018776;
  color: rgba(255,255,255, 0.84);
}

.hce-navbar.active-evolution{

}


/*  Drawer */

.hce-navdrawer{
  background-color: #009688;
  padding-top: 20px;  
  padding: 0px;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 100;
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.hce-navdrawer li{
  color: darkgray;
  margin-top: 0px;
}

.hce-navdrawer li a.bars{
  border-color: lightgray;
  border-right: 1px solid;
  border-top: 1px solid;
  border-bottom: 1px solid;
}

.hce-navdrawer li a{
  color: white;
  font-size: 16px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.hce-navdrawer .nav-pills > li > a{
  border-radius: 0px;
}

.hce-navdrawer .nav-pills > li > a:active,
.hce-navdrawer .nav-pills > li > a:hover,
.hce-navdrawer .nav-pills > li > a:focus{
  background-color: #016b60;
}

.hce-navdrawer .nav-pills > li > a.active{
    background-color: #016b60;
}

.hcenavdrawercollapsed{
  width: 57px !important;
}

.hcenavtextcollapsed{
  display: none;
}




.row-panel{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #eaeaea;
  margin-top: 5px;
  margin-bottom: 5px;
}

.well-row{
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 10px;
}

.evolution-header{
  margin-bottom: 25px;
}
