<div class="row well well-row">
    			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    				<div class="row" ng-show="NewEvolutionController.isOpened()">
		    			<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 no-padding-left" ><div class="hce-form-title">Nueva evolución</div></div>
		    			<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">{{NewEvolutionController.newEvolution.date | date:"dd/MM/yyyy"}}</div>
    				</div>
    				<div class="row" >
	    				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		    				<div class="row" >
								<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 no-padding-left" ng-show="NewEvolutionController.isOpened()">
			    					<abm-form-group class="form-group" >
								    	<label data-abm-label>Motivo de consulta(*)</label>
								    	<input type="text" abm-form-control ng-model="NewEvolutionController.currentEvolution.reason" ng-change="NewEvolutionController.updateCurrentEvolution()"  ng-focus="NewEvolutionController.newEvolutionFocused = true" ng-required="true">
								  	</abm-form-group>
								</div>
								<div class="col-xs-8 col-sm-4 col-md-4 col-lg-4 no-padding-right" ng-show="NewEvolutionController.isOpened()">
									<abm-form-group>
					                	<label abm-label for="evolutionType">Tipo de consulta</label>
				                  		<select class="form-control" name="visitType" ng-model="NewEvolutionController.currentEvolution.visitType" ng-change="NewEvolutionController.updateCurrentEvolution()"  ng-options="visitType for visitType in NewEvolutionController.visitTypes" abm-form-control  ng-focus="NewEvolutionController.newEvolutionFocused = true">
					                    	<option value="">Seleccione un tipo de consulta</option>
					                	</select>
					             	</abm-form-group>
				              	</div>
							</div>
	    				</div>
	    				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		    				<div class="row" >
		    					<abm-form-group class="form-group-lg">
							    	<label data-abm-label type="static">{{NewEvolutionController.newEvolutionFocused||NewEvolutionController.currentEvolution?'Evolución(*) (2000 caracteres)':'Ingrese nueva evolución'}}</label>
							    	<textarea abm-form-control ng-model="NewEvolutionController.currentEvolution.notaClinica" ng-change="NewEvolutionController.updateCurrentEvolution()"  ng-focus="NewEvolutionController.newEvolutionFocused = true" maxlength="2000" ng-required="NewEvolutionController.newEvolutionFocused||NewEvolutionController.currentEvolution">
							    	</textarea>
							  	</abm-form-group>
					  		</div>
					  	</div>
	    				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="NewEvolutionController.isOpened()">
		    				<div class="row" >
		    					<div class="col-xs-8 col-sm-8 col-md-10 col-lg-10">
							  		<button class="btn btn-info btn-sm button-menu" style="font-weight: bold;" ng-click="NewEvolutionController.toggleDropdown('problems')">Problemas</button>
							  		<button class="btn btn-info btn-sm button-menu" style="font-weight: bold;" ng-click="NewEvolutionController.toggleDropdown('arvTreatment')">Tratamientos</button>
							  		<button class="btn btn-info btn-sm button-menu" style="font-weight: bold;" ng-click="NewEvolutionController.toggleDropdown('vaccines')">Vacunas</button>
							  		<button class="btn btn-info btn-sm button-menu" style="font-weight: bold;" ng-click="NewEvolutionController.toggleDropdown('laboratories')">Laboratorios</button>
							  		<button class="btn btn-info btn-sm button-menu" style="font-weight: bold;" ng-click="NewEvolutionController.toggleDropdown('studies')">Estudios</button>
							  		<button class="btn btn-info btn-sm button-menu" style="font-weight: bold;" ng-click="NewEvolutionController.toggleDropdown('medicaments')">Medicamentos</button>
		    					</div>
		    					<div class="col-xs-4 col-sm-4 col-md-2 col-lg-2">
								  	<div ng-show="NewEvolutionController.currentEvolution.notaClinica">
								  		<button class="btn btn-success pull-right btn-raised" ng-click="NewEvolutionController.saveNewEvolution()" ng-disabled="!NewEvolutionController.canSaveEvolution()">Guardar evolución</button>
								  	</div>
							  	</div>
						  	</div>
					  	</div>
	    				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-if="NewEvolutionController.show=='arvTreatment'">
						    <hce-arv-treatment-list></hce-arv-treatment-list>
	    				</div>

	    				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-if="NewEvolutionController.show=='problems'">
						    <hce-problem-list></hce-problem-list>
	    				</div>
	    				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-if="NewEvolutionController.show=='laboratories'">
						    <hce-patient-laboratory-results-grid></hce-patient-laboratory-results-grid>
	    				</div>
    					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-if="NewEvolutionController.show=='vaccines'">
						    <hce-vaccine-list></hce-vaccine-list>
	    				</div>
	    				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-if="NewEvolutionController.show=='studies'">
						    <hce-other-studies-list></hce-other-studies-list>
	    				</div>
	    				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-if="NewEvolutionController.show=='medicaments'">
						    <hce-other-medication-list></hce-other-medication-list>
	    				</div>

	    			</div>		    					
    			</div>
	    	</div>