<div class="container-fluid hce-container-modal">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="hce-form-title">Editar aplicación de vacuna</div>
				</div>
			</div>
			<div class="row">
				<div ng-show="EditPatientVaccineController.error" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 alert alert-warning">
					{{EditPatientVaccineController.error}}
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<abm-form-group>
		    			<label data-abm-label type="static">Seleccione la vacuna(*)</label>
                		<input type="text" abm-form-control ng-model="EditPatientVaccineController.patientVaccine.vaccine" uib-typeahead="vaccine as vaccine.name for vaccine in EditPatientVaccineController.getVaccines($viewValue)" class="form-control" typeahead-min-length="3" disabled="true" placeholder="Escriba tres o mas letras para buscar">
                	</abm-form-group>
                </div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				  	<abm-form-group>
					    <label data-abm-label type="static">Fecha de aplicación(*) <small><em>(dd/mm/aaaa o dd-mm-aaaa)</em></small></label>
							<div class="input-group">
								<input type="text" class="form-control" uib-datepicker-popup="d!/M!/yyyy" name="startDate" ng-model="EditPatientVaccineController.patientVaccine.appliedDate" is-open="EditPatientVaccineController.applicationDateCalendar.opened" datepicker-options="EditPatientVaccineController.applicationDateCalendar.options" close-text="Cerrar" alt-input-formats="EditPatientVaccineController.applicationDateCalendar.altInputFormats" current-text="Hoy" clear-text="Limpiar"/>
		                        <div class="input-group-btn">
		                          <button type="button" class="btn btn-default" ng-click="EditPatientVaccineController.applicationDateCalendar.open()"><i class="glyphicon glyphicon-calendar"></i></button>
		                        </div>
						    </div>
				  	</abm-form-group>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<abm-form-group>
				    	<label data-abm-label type="static">Observaciones</label>
				    	<textarea type="text" abm-form-control ng-model="EditPatientVaccineController.patientVaccine.observations"></textarea>
				  	</abm-form-group>
		  		</div>
		  	</div>
			<div class="row" >
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="row" >
					  	<div>
					  		<button class="btn btn-danger pull-left" ng-click="EditPatientVaccineController.markAsError()">Pasar a error</button>

					  		<button class="btn btn-success btn-raised pull-right" ng-click="EditPatientVaccineController.save()"  ng-disabled="!EditPatientVaccineController.canSave()">Guardar vacuna</button>
					  		<button class="btn btn-default pull-right" ng-click="EditPatientVaccineController.cancel()">Cancelar</button>
					  	</div>
				  	</div>
			  	</div>
			</div>		    					
		</div>
	</div>
</div>