<div class="container-fluid">
	<div class="row">
	    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	    	<hce-new-evolution></hce-new-evolution>
	    	<hce-arv-card></hce-arv-card>
	    	<div class="row" style="display: none">
			    <div class="well well-row col-md-12" >
		          	<h2>Medicamentos</h2>
			        <div class="hce-card-body">
			        	<h3>Antiretrovirales</h3>
			        	<table class="table table-striped">
			        		<thead>
				        		<th>Inicio</th>
				        		<th>Fin</th>
				        		<th>Esquema</th>
			        		</thead>
			        		<tbody>
			        			<tr>
			        				<td>10/04/2016</td>
			        				<td>-</td>
			        				<td>[TDF/3TC][NVP][ATV]</td>
			        			</tr>
			        			<tr>
			        				<td>10/04/2014</td>
			        				<td>10/04/2016</td>
			        				<td>[TDF/3TC][NVP2][ATV]</td>
			        			</tr>
			        		</tbody>
			        	</table>

		        		<h3>General</h3>
			        	<table class="table table-striped">
			        		<thead>
				        		<th>Nombre</th>
				        		<th>Inicio</th>
				        		<th>Fin</th>
			        		</thead>
			        		<tbody>
			        			<tr>
			        				<td>Ibuprofeno</td>
			        				<td>10/04/2016</td>
			        				<td>-</td>
			        			</tr>
			        			<tr>
			        				<td>Hepatalgina</td>
			        				<td>10/04/2014</td>
			        				<td>10/04/2016</td>
			        			</tr>
			        		</tbody>
			        	</table>
			        </div>
			        <div class="hce-card-footer">
			          <a ui-sref="app.patientHCE.treatments">Ver mas...</a>
			        </div>
		      </div>
		      <div class=" well col-md-12" >
		        <div class="hce-card-title">
		          Laboratorios
		        </div>
		        <div class="hce-card-body">
		            <ul>
		              <li>21/02/2017</li>
		              <li>21/01/2017</li>
		              <li>21/12/2016</li>
		            </ul>
		        </div>
		        <div class="hce-card-footer">
		          <a ui-sref="app.patientHCE.treatments">Ver mas...</a>
		        </div>
		      </div>
	    	</div>

		    
		</div>
	</div>
</div>