<div class="container-fluid hce-container-modal">
	<form name="EditPatientMedicationController.controllerForm">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="hce-form-title">Editar medicamento</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<abm-form-group>
			    			<label data-abm-label type="static">Escriba el medicamento(*)</label>
	                		<label type="text" abm-form-control class="form-control" disabled=true>{{EditPatientMedicationController.patientMedication.medication.name}} ( {{EditPatientMedicationController.patientMedication.medication.composition}} {{EditPatientMedicationController.patientMedication.medication.presentation}}  )</label>
	                	</abm-form-group>
	                </div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
					  	<abm-form-group ng-class="{'has-error':EditPatientMedicationController.controllerForm.startDate.$invalid}" name="startDate">
						    <label data-abm-label type="static">Fecha de inicio(*) <small><em>(dd/mm/aaaa o dd-mm-aaaa)</em></small></label>
								<div class="input-group">
									<input type="text" class="form-control" uib-datepicker-popup="d!/M!/yyyy" name="startDate" ng-model="EditPatientMedicationController.patientMedication.startDate" is-open="EditPatientMedicationController.startDateCalendar.opened" datepicker-options="EditPatientMedicationController.startDateCalendar.options" close-text="Cerrar" alt-input-formats="EditPatientMedicationController.startDateCalendar.altInputFormats" current-text="Hoy" clear-text="Limpiar" ng-required="true" ng-change="EditPatientMedicationController.endDateCalendar.updateMinVal()" ng-disabled="!EditPatientMedicationController.canEdit();"/>
			                        <div class="input-group-btn">
			                          <button type="button" class="btn btn-default" ng-click="EditPatientMedicationController.startDateCalendar.open()"><i class="glyphicon glyphicon-calendar"></i></button>
			                        </div>
							    </div>
					  	</abm-form-group>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" ng-show="EditPatientMedicationController.patientMedication.state=='Closed'">
					  	<abm-form-group ng-class="{'has-error':EditPatientMedicationController.controllerForm.endDate.$invalid}" name="endDate">
						    <label data-abm-label type="static">Fecha de fin(*) <small><em>(dd/mm/aaaa o dd-mm-aaaa)</em></small></label>
								<div class="input-group">
									<input type="text" class="form-control" uib-datepicker-popup="d!/M!/yyyy" name="endDate" ng-model="EditPatientMedicationController.patientMedication.endDate" is-open="EditPatientMedicationController.endDateCalendar.opened" datepicker-options="EditPatientMedicationController.endDateCalendar.options" close-text="Cerrar" alt-input-formats="EditPatientMedicationController.endDateCalendar.altInputFormats" current-text="Hoy" clear-text="Limpiar" ng-required="EditPatientMedicationController.patientMedication.state=='Closed'" ng-change="EditPatientMedicationController.startDateCalendar.updateMaxVal()" />
			                        <div class="input-group-btn">
			                          <button type="button" class="btn btn-default" ng-click="EditPatientMedicationController.endDateCalendar.open()"><i class="glyphicon glyphicon-calendar"></i></button>
			                        </div>
							    </div>
					  	</abm-form-group>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				    	<table class="table table-condensed">
				    		<thead> 
				    			<tr> 
				    				<th><label class="control-label isnot-error" ng-class="{'is-error':EditPatientMedicationController.controllerForm.quantityPerDay.$invalid}">Cantidad por día(*)</th>
				    				<th> <label class="control-label isnot-error" ng-class="{'is-error':EditPatientMedicationController.controllerForm.quantityPerMonth.$invalid}">Cantidad por mes(*)</th>
				    			</tr> 
				    		</thead>
				    		<tbody>
				    			<tr>
			    					<td>
			    						<input type="number" name="quantityPerDay" min="0" onkeypress="return event.charCode >= 48 || event.charCode == 44" ng-model="EditPatientMedicationController.patientMedication.quantityPerDay" ng-change="EditPatientMedicationController.patientMedication.quantityPerMonth=EditPatientMedicationController.roundNumber(EditPatientMedicationController.patientMedication.quantityPerDay*30)" ng-required="true" ng-pattern="/^[0-9]+(\.[0-9]{1,1})?$/" step="0.1" ng-disabled="!EditPatientMedicationController.canEdit();" />
			    					</td> 
			    					<td>
			    						<input type="number" name="quantityPerMonth" min="0" onkeypress="return event.charCode >= 48 || event.charCode == 44" ng-model="EditPatientMedicationController.patientMedication.quantityPerMonth" ng-change="EditPatientMedicationController.patientMedication.quantityPerDay=EditPatientMedicationController.roundNumber(EditPatientMedicationController.patientMedication.quantityPerMonth/30)" ng-required="true" ng-pattern="/^[0-9]+(\.[0-9]{1,1})?$/" step="0.1" ng-disabled="!EditPatientMedicationController.canEdit();" />
			    					</td> 
		    					</tr>
		    				</tbody>
		    			</table>
	    			</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					  	<abm-form-group>
					    	<label abm-label type="static">Estado del medicamento</label>
						    <div class="radio" abm-radio label="Activo"> 
						      <input type="radio" name="activo" value="Active" ng-model="EditPatientMedicationController.patientMedication.state" ng-required="true" ng-change="EditPatientMedicationController.changeStatus()" >
						    </div>
						    <div class="radio" abm-radio label="Inactivo">
						      <input type="radio" name="inactivo" value="Closed"  ng-model="EditPatientMedicationController.patientMedication.state">
						    </div>					    
					  	</abm-form-group>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<abm-form-group class="form-group-lg">
					    	<label abm-label for="problem" type="static">Problema del paciente</label>
					    	<select class="form-control" name="problem" ng-model="EditPatientMedicationController.patientMedication.patientProblem.problem.name" ng-disabled="!EditPatientMedicationController.canEdit();" ng-options="problem as problem.problem.name for problem in EditPatientMedicationController.activeProblems" abm-form-control >
										<option value="">{{EditPatientMedicationController.patientMedication.patientProblem.problem.name}}</option>
					    	</select>
					  	</abm-form-group>
			  		</div>
			  	</div>
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<abm-form-group>
					    	<label data-abm-label type="static">Observaciones</label>
					    	<textarea type="text" abm-form-control ng-model="EditPatientMedicationController.patientMedication.observations" ng-disabled="!EditPatientMedicationController.canEdit();"></textarea>
					  	</abm-form-group>
			  		</div>
			  	</div>
				<div class="row" >
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="row" >
						  	<div>
						  		<button class="btn btn-danger pull-left" ng-click="EditPatientMedicationController.markAsError()" >Pasar a error</button>
						  		<button class="btn btn-success btn-raised pull-right" ng-click="EditPatientMedicationController.save()" 
						  		ng-disabled="!EditPatientMedicationController.canSave()">Guardar</button>
						  		<button class="btn btn-default pull-right" ng-click="EditPatientMedicationController.cancel()">Cancelar</button>
						  	</div>
					  	</div>
				  	</div>
				</div>		    					
			</div>
		</div>
	</form>
</div>