<div class="container-fluid hce-container-modal">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="hce-form-title">Editar medicamento</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<abm-form-group>
		    			<label data-abm-label type="static">Escriba el medicamento(*)</label>
                		<input type="text" abm-form-control ng-model="EditPatientMedicationController.patientMedication.medication" uib-typeahead="medication as medication.name for medication in EditPatientMedicationController.getMedications($viewValue)" class="form-control" typeahead-min-length="3" disabled="true">
                	</abm-form-group>
                </div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
				  	<abm-form-group>
					    <label data-abm-label type="static">Fecha de inicio(*) <small><em>(dd/mm/aaaa o dd-mm-AAAA)</em></small></label>
							<div class="input-group">
								<input type="text" class="form-control" uib-datepicker-popup="d!/M!/yyyy" name="startDate" ng-model="EditPatientMedicationController.patientMedication.startDate" is-open="EditPatientMedicationController.startDateCalendar.opened" datepicker-options="EditPatientMedicationController.startDateCalendar.options" close-text="Cerrar" alt-input-formats="EditPatientMedicationController.startDateCalendar.altInputFormats" current-text="Hoy" clear-text="Limpiar"/>
		                        <div class="input-group-btn">
		                          <button type="button" class="btn btn-default" ng-click="EditPatientMedicationController.startDateCalendar.open()"><i class="glyphicon glyphicon-calendar"></i></button>
		                        </div>
						    </div>
				  	</abm-form-group>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" ng-show="EditPatientMedicationController.patientMedication.state=='Closed'">
				  	<abm-form-group>
					    <label data-abm-label type="static">Fecha de fin(*) <small><em>(dd/mm/aaaa o dd-mm-AAAA)</em></small></label>
							<div class="input-group">
								<input type="text" class="form-control" uib-datepicker-popup="d!/M!/yyyy" name="endDate" ng-model="EditPatientMedicationController.patientMedication.endDate" is-open="EditPatientMedicationController.endDateCalendar.opened" datepicker-options="EditPatientMedicationController.endDateCalendar.options" close-text="Cerrar" alt-input-formats="EditPatientMedicationController.endDateCalendar.altInputFormats" current-text="Hoy" clear-text="Limpiar"/>
		                        <div class="input-group-btn">
		                          <button type="button" class="btn btn-default" ng-click="EditPatientMedicationController.endDateCalendar.open()"><i class="glyphicon glyphicon-calendar"></i></button>
		                        </div>
						    </div>
				  	</abm-form-group>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				  	<abm-form-group>
				    	<label abm-label type="static">Estado del medicamento</label>
					    <div class="radio" abm-radio label="Activo">
					      <input type="radio" name="activo" value="Active" ng-model="EditPatientMedicationController.patientMedication.state">
					    </div>
					    <div class="radio" abm-radio label="Inactivo">
					      <input type="radio" name="inactivo" value="Closed" ng-model="EditPatientMedicationController.patientMedication.state">
					    </div>					    
				  	</abm-form-group>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<abm-form-group class="form-group-lg">
				    	<label abm-label for="problem" type="static">Problema del paciente</label>
				    	<select class="form-control" name="problem" ng-options="problem as problem.problem.name for problem in EditPatientMedicationController.patientProblems track by problem.problem" ng-model="EditPatientMedicationController.patientMedication.patientProblem" abm-form-control >
				    	</select>
				  	</abm-form-group>
		  		</div>
		  	</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<abm-form-group>
				    	<label data-abm-label type="static">Observaciones</label>
				    	<textarea type="text" abm-form-control ng-model="EditPatientMedicationController.patientMedication.observations"></textarea>
				  	</abm-form-group>
		  		</div>
		  	</div>
			<div class="row" >
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="row" >
					  	<div>
					  		<button class="btn btn-danger pull-left" ng-click="EditPatientMedicationController.markAsError()">Pasar a error</button>
					  		<button class="btn btn-success btn-raised pull-right" ng-click="EditPatientMedicationController.save()"  ng-disabled="!EditPatientMedicationController.canSave()">Guardar</button>
					  		<button class="btn btn-default pull-right" ng-click="EditPatientMedicationController.cancel()">Cancelar</button>
					  	</div>
				  	</div>
			  	</div>
			</div>		    					
		</div>
	</div>
</div>