<div class="container-fluid hce-container-modal">
	<form name="HivDetailsController.controllerForm">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div>
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<abm-form-group>
									<label type="static" style="font-weight:bold">Información adicional del virus HIV</label>
								</abm-form-group>
							</div>
						</div>
	
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<abm-form-group name="transmition">
									<label class="control-label" type="static" style="font-weight:bold">Vias de transmisión más probables (*)</label>
									<div class="checkbox" abm-checkbox label="Transmisión vertical">
										<input type="checkbox" name="vertical" value="vertical" ng-model="HivDetailsController.details.aditionalData.vertical" disabled>
									</div>
									<div class="checkbox" abm-checkbox label="Relaciones sexuales con mujeres">
										<input type="checkbox"  name="mujeres" value="mujeres" ng-model="HivDetailsController.details.aditionalData.mujeres" disabled>
									</div>
									<div class="checkbox" abm-checkbox label="Relaciones sexuales con hombres">
										<input type="checkbox" name="hombres" value="hombres" ng-model="HivDetailsController.details.aditionalData.hombres" disabled>
									</div>
									<div class="checkbox" abm-checkbox label="Relaciones sexuales con trans">
										<input type="checkbox" name="trans" value="trans" ng-model="HivDetailsController.details.aditionalData.trans" disabled>
									</div>
									<div class="checkbox" abm-checkbox label="Uso compartido de equipo de inyección en los últimos 10 años">
										<input type="checkbox" name="inyeccion" value="inyeccion" ng-model="HivDetailsController.details.aditionalData.inyeccion" disabled>
									</div>
									<div class="checkbox" abm-checkbox label="Accidente laboral">
										<input type="checkbox" name="accidente" value="accidente"  ng-model="HivDetailsController.details.aditionalData.accidente" disabled>
									</div>
									<div class="checkbox" abm-checkbox label="Transfusión sanguínea o derivados">
										<input type="checkbox" name="transfusion" value="transfusion" ng-model="HivDetailsController.details.aditionalData.transfusion" disabled>
									</div>
									<abm-form-group ng-if="HivDetailsController.details.aditionalData.transfusion">
										<label data-abm-label type="static">Institución</label>
										<input type="text" abm-form-control  name="institution" maxlength="70" class="form-control" disabled>
									</abm-form-group>
									<abm-form-group ng-if="HivDetailsController.details.aditionalData.transfusion">
										<label data-abm-label type="static">Ciudad</label>
										<input type="text" abm-form-control name="city" maxlength="70" class="form-control" ng-model="HivDetailsController.details.aditionalData.city" disabled>
									</abm-form-group>
									<div class="checkbox" abm-checkbox label="Otras">
										<input type="checkbox" name="otraCheck" value="otraCheck" ng-model="HivDetailsController.details.aditionalData.otraCheck" disabled>
									</div>
									<abm-form-group ng-if="HivDetailsController.details.aditionalData.otraCheck">
										<label data-abm-label type="static">¿Cual?</label>
										<input type="text" abm-form-control name="otherTransmission" maxlength="70" class="form-control" ng-model="HivDetailsController.details.aditionalData.other" disabled>
									</abm-form-group>
									<div class="checkbox" abm-checkbox label="Desconocida">
										<input type="checkbox" name="desconocida" ng-model="HivDetailsController.details.aditionalData.desconocida" disabled>
									</div>
								</abm-form-group>
								<abm-form-group name='woman'>
									<label class="control-label" type="static">Si es mujer, ¿el diagnóstico se realizó durante un embarazo, parto o puerperio?</label>
									<div class="radio" abm-radio label="Si">
										<input type="radio" id="hivDuringLabor" name="hivDuringLabor" value="Si" ng-model="HivDetailsController.details.aditionalData.woman" disabled>
									</div>
									<div class="radio" abm-radio label="No">
										<input type="radio" id="hivDuringLabor" name="hivDuringLabor" value="No" ng-model="HivDetailsController.details.aditionalData.woman" disabled>
									</div>
									<div class="radio" abm-radio label="Desconocido">
										<input type="radio" name="hivDuringLabor" value="Desconocido" ng-model="HivDetailsController.details.aditionalData.woman" disabled>
									</div>
								</abm-form-group>
								<abm-form-group name="clinicalState" disabled>
									<label data-abm-label type="static" style="font-weight:bold">Estadio clínico al momento del diagnóstico serológico confirmado (*)</label>
									<div class="radio" abm-radio name="clinicalState" label="Síndrome retroviral agudo">
										<input type="radio" id="clinicalState" name="clinicalState" value="agudo" ng-model="HivDetailsController.details.aditionalData.clinicalState" disabled>
									</div>
									<div class="radio" abm-radio name="clinicalState" label="Infección asintomática">
										<input type="radio" name="clinicalState" id="clinicalState" value="asintomatica" ng-model="HivDetailsController.details.aditionalData.clinicalState" disabled>
									</div>
									<div class="radio" abm-radio  name="clinicalState" label="Infección sintomática sin criterio de sida">
										<input type="radio" id="clinicalState" name="clinicalState" value="sintomatica" ng-model="HivDetailsController.details.aditionalData.clinicalState" disabled>
									</div>
									<div class="radio" abm-radio label="Enfermedad marcadora de sida">
										<input type="radio" name="clinicalState" value="enfMarcadoraSida" id="clinicalState" ng-model="HivDetailsController.details.aditionalData.clinicalState" disabled>
									</div>
									<div class="radio" abm-radio label="Desconocido">
										<input type="radio" name="clinicalState" id="clinicalState" value="desconocido" ng-model="HivDetailsController.details.aditionalData.clinicalState" disabled>
									</div>
								</abm-form-group>
							</div>
						</div>
					</div>
				</div>
			</div>

				<div class="row" >
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="row" >
						  	<div>
									<button class="btn btn-default pull-right" ng-click="HivDetailsController.cancel()">Cancelar</button>
						  	</div>
					  	</div>
				  	</div>
				</div>		    					
			</div>
		</div>
	</form>
</div>
