<div class="container-fluid hce-container-modal">
	<form name="HivDetailsController.controllerForm">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="hce-form-title">Editar problema</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<abm-form-group>
			    			<label data-abm-label type="static">Escriba el problema</label>
	                		<input type="text" abm-form-control ng-model="HivDetailsController.problem.problem" uib-typeahead="problem as problem.name for problem in HivDetailsController.getProblems($viewValue)" class="form-control" typeahead-min-length="3" disabled="true">
	                	</abm-form-group>
	                </div>
				</div>
				<div class="row" >
					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
					  	<abm-form-group ng-class="{'has-error':HivDetailsController.controllerForm.startDate.$invalid}" name="startDate" name="startDate">
							<label data-abm-label type="static">Fecha de inicio(*) <small><em>(dd/mm/aaaa o dd-mm-aaaa)</em></small> </label>
								<div class="input-group">
									<input type="text" class="form-control" uib-datepicker-popup="d!/M!/yyyy" name="startDate" ng-model="HivDetailsController.problem.startDate" is-open="HivDetailsController.startDateCalendarPopup.opened" datepicker-options="HivDetailsController.startDateCalendarPopup.options" close-text="Cerrar" alt-input-formats="HivDetailsController.startDateCalendarPopup.altInputFormats" current-text="Hoy" clear-text="Limpiar" ng-required="true" ng-change="HivDetailsController.closeDateCalendarPopup.updateMinVal()" ng-disabled="!HivDetailsController.canEdit()"/>
			                        <div class="input-group-btn">
			                          <button type="button" class="btn btn-default" ng-click="HivDetailsController.startDateCalendarPopup.open()"><i class="glyphicon glyphicon-calendar"></i></button>
			                        </div>
							    </div>
					  	</abm-form-group>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" ng-show="HivDetailsController.problem.state=='Closed'">
					  	<abm-form-group ng-class="{'has-error':HivDetailsController.controllerForm.closeDate.$invalid}" name="closeDate">
						    <label data-abm-label type="static">Fecha de cierre(*) <small><em>(dd/mm/aaaa o dd-mm-aaaa)</em></small> </label>
							<div class="input-group">
								<input type="text" class="form-control" uib-datepicker-popup="d!/M!/yyyy" name="closeDate" ng-model="HivDetailsController.problem.closeDate" is-open="HivDetailsController.closeDateCalendarPopup.opened" datepicker-options="HivDetailsController.closeDateCalendarPopup.options" close-text="Cerrar" alt-input-formats="HivDetailsController.closeDateCalendarPopup.altInputFormats" current-text="Hoy" clear-text="Limpiar" ng-required="HivDetailsController.problem.state=='Closed'" 
								ng-change="HivDetailsController.startDateCalendarPopup.updateMaxVal()" ng-disabled="!HivDetailsController.canEdit() && !HivDetailsController.canBeClosed()"/>
		                        <div class="input-group-btn">
		                          <button type="button" class="btn btn-default" ng-click="HivDetailsController.closeDateCalendarPopup.open()"><i class="glyphicon glyphicon-calendar"></i></button>
		                        </div>
						    </div>
					  	</abm-form-group>
					</div>
				</div>
				<div class="row" >
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					  	<abm-form-group>
						    <label abm-label type="static">Estado del problema(*) </label>
						    <div class="radio" abm-radio label="Activo" >
						      <input type="radio" name="activo" value="Active" ng-model="HivDetailsController.problem.state" ng-change="HivDetailsController.changeStatus()" ng-disabled="!HivDetailsController.canEdit() && !HivDetailsController.canBeClosed()" ng-required="true">
						    </div>
						    <div class="radio" abm-radio label="Resuelto">
						      <input type="radio" name="cerrado" value="Closed" ng-model="HivDetailsController.problem.state" ng-disabled="!HivDetailsController.canEdit() && !HivDetailsController.canBeClosed()" ng-required="true" >
						    </div>					    
					  	</abm-form-group>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="row" >
						<abm-form-group>
					    	<label data-abm-label type="static">Observaciones</label>
					    	<input type="text" abm-form-control ng-model="HivDetailsController.problem.observations" ng-disabled="!HivDetailsController.canEdit()">
					  	</abm-form-group>
			  		</div>
			  	</div>

				<div class="row" >
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="row" >
						  	<div>
						  		<button class="btn btn-danger pull-left" ng-click="HivDetailsController.markAsError()" ng-show="HivDetailsController.canBeMarkedAsError()">Pasar a error</button>
						  		<button class="btn btn-success btn-raised pull-right" ng-click="HivDetailsController.save()" ng-show="HivDetailsController.canEdit() || HivDetailsController.canBeClosed()" ng-disabled="!HivDetailsController.canSaveNewProblem() && !HivDetailsController.canBeClosed()">Guardar problema</button>
						  		<button class="btn btn-default pull-right" ng-click="HivDetailsController.cancel()">Cancelar</button>
						  	</div>
					  	</div>
				  	</div>
				</div>		    					
			</div>
		</div>
	</form>
</div>
