	<div class="do-print">
	<div class="container-fluid hce-container-modal">
		<input ng-model="SummaryDetailsController.patient_details.pns"> </input>
		<input ng-model="SummaryDetailsController.patient_details.firstName"> </input>
		<input ng-model="SummaryDetailsController.patient_details.fatherSurname"> </input>
		<input ng-model="SummaryDetailsController.patient_details.socialService.name"> </input>
		<input ng-model="SummaryDetailsController.patient_details.socialServiceNumber"> </input>
		<input ng-model="SummaryDetailsController.patient_details.documentNumber"> </input>
		<input ng-model="SummaryDetailsController.patient_details.birthDate"> </input>
		<div class="container-fluid">
			<div class="row">
				<img src="{{SummaryDetailsController.headerImage}}" class="center-block">	
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="row prescriptionPatientName">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="hce-form-title">
								{{SummaryDetailsController.patientIdentification}}
							</div>
						</div>
					</div>
					<div class="row prescriptionPatientSocialService" ng-if="SummaryDetailsController.patient_details.socialService && SummaryDetailsController.patient_details.socialService.name !='No tiene'">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="">
								{{SummaryDetailsController.patient_details.socialService.name}} 
							</div>
							<div class="">
								{{SummaryDetailsController.patient_details.socialServiceNumber}}
							</div>
						</div>
					</div>
					<div class="prescriptionMedicationsList">
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								Evoluciones
							</div>
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<div class="row " ng-repeat="evolution in SummaryDetailsController.evolutions" style="padding-bottom: 10px;
								padding-top: 10px;border-bottom:1px solid;border-bottom-color:#D2D2D2">
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<div class="row" ng-class="{'evolution-header':evolution.selected}">
											<div class="col-xs-1-5 col-sm-1-5 col-md-1-5 col-lg-1-5">
												{{evolution.date | date:"dd/MM/yyyy"}}
											</div>
											<div class="col-md-1-5 col-md-1-5 col-md-1-5 col-md-1-5">{{evolution.profesional.first_name}} {{evolution.profesional.last_name}}</div>
											<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">{{evolution.reason}}</div>
										</div>
										<div class="row">
											<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="evolution.selected" style="white-space: pre-line;word-wrap:break-word;">
												{{evolution.notaClinica}}
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>	    					
				</div>
			</div>
		</div>


		<form name="SummaryDetailsController.controllerForm" ng-show="SummaryDetailsController.showHIV">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div>
							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<abm-form-group>
										<label type="static" style="font-weight:bold">Información adicional del virus HIV</label>
									</abm-form-group>
								</div>
							</div>
		
							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<abm-form-group name="transmition">
										<label class="control-label" type="static" style="font-weight:bold">Vias de transmisión más probables (*)</label>
										<div class="checkbox" abm-checkbox label="Transmisión vertical">
											<input type="checkbox" name="vertical" value="vertical" ng-model="SummaryDetailsController.hiv_details.vertical" disabled>
										</div>
										<div class="checkbox" abm-checkbox label="Relaciones sexuales con mujeres">
											<input type="checkbox"  name="mujeres" value="mujeres" ng-model="SummaryDetailsController.hiv_details.mujeres" disabled>
										</div>
										<div class="checkbox" abm-checkbox label="Relaciones sexuales con hombres">
											<input type="checkbox" name="hombres" value="hombres" ng-model="SummaryDetailsController.hiv_details.hombres" disabled>
										</div>
										<div class="checkbox" abm-checkbox label="Relaciones sexuales con trans">
											<input type="checkbox" name="trans" value="trans" ng-model="SummaryDetailsController.hiv_details.trans" disabled>
										</div>
										<div class="checkbox" abm-checkbox label="Uso compartido de equipo de inyección en los últimos 10 años">
											<input type="checkbox" name="inyeccion" value="inyeccion" ng-model="SummaryDetailsController.hiv_details.inyeccion" disabled>
										</div>
										<div class="checkbox" abm-checkbox label="Accidente laboral">
											<input type="checkbox" name="accidente" value="accidente"  ng-model="SummaryDetailsController.hiv_details.accidente" disabled>
										</div>
										<div class="checkbox" abm-checkbox label="Transfusión sanguínea o derivados">
											<input type="checkbox" name="transfusion" value="transfusion" ng-model="SummaryDetailsController.hiv_details.transfusion" disabled>
										</div>
										<abm-form-group ng-if="SummaryDetailsController.hiv_details.transfusion">
											<label data-abm-label type="static">Institución</label>
											<input type="text" abm-form-control  name="institution" maxlength="70" class="form-control" disabled>
										</abm-form-group>
										<abm-form-group ng-if="SummaryDetailsController.hiv_details.transfusion">
											<label data-abm-label type="static">Ciudad</label>
											<input type="text" abm-form-control name="city" maxlength="70" class="form-control" ng-model="SummaryDetailsController.hiv_details.city" disabled>
										</abm-form-group>
										<div class="checkbox" abm-checkbox label="Otras">
											<input type="checkbox" name="otraCheck" value="otraCheck" ng-model="SummaryDetailsController.hiv_details.otraCheck" disabled>
										</div>
										<abm-form-group ng-if="SummaryDetailsController.hiv_details.otraCheck">
											<label data-abm-label type="static">¿Cual?</label>
											<input type="text" abm-form-control name="otherTransmission" maxlength="70" class="form-control" ng-model="SummaryDetailsController.hiv_details.other" disabled>
										</abm-form-group>
										<div class="checkbox" abm-checkbox label="Desconocida">
											<input type="checkbox" name="desconocida" ng-model="SummaryDetailsController.hiv_details.desconocida" disabled>
										</div>
									</abm-form-group>
									<abm-form-group name='woman'>
										<label class="control-label" type="static">Si es mujer, ¿el diagnóstico se realizó durante un embarazo, parto o puerperio?</label>
										<div class="radio" abm-radio label="Si">
											<input type="radio" id="hivDuringLabor" name="hivDuringLabor" value="Si" ng-model="SummaryDetailsController.hiv_details.woman" disabled>
										</div>
										<div class="radio" abm-radio label="No">
											<input type="radio" id="hivDuringLabor" name="hivDuringLabor" value="No" ng-model="SummaryDetailsController.hiv_details.woman" disabled>
										</div>
										<div class="radio" abm-radio label="Desconocido">
											<input type="radio" name="hivDuringLabor" value="Desconocido" ng-model="SummaryDetailsController.hiv_details.woman" disabled>
										</div>
									</abm-form-group>
									<abm-form-group name="clinicalState" disabled>
										<label data-abm-label type="static" style="font-weight:bold">Estadio clínico al momento del diagnóstico serológico confirmado (*)</label>
										<div class="radio" abm-radio name="clinicalState" label="Síndrome retroviral agudo">
											<input type="radio" id="clinicalState" name="clinicalState" value="agudo" ng-model="SummaryDetailsController.hiv_details.clinicalState" disabled>
										</div>
										<div class="radio" abm-radio name="clinicalState" label="Infección asintomática">
											<input type="radio" name="clinicalState" id="clinicalState" value="asintomatica" ng-model="SummaryDetailsController.hiv_details.clinicalState" disabled>
										</div>
										<div class="radio" abm-radio  name="clinicalState" label="Infección sintomática sin criterio de sida">
											<input type="radio" id="clinicalState" name="clinicalState" value="sintomatica" ng-model="SummaryDetailsController.hiv_details.clinicalState" disabled>
										</div>
										<div class="radio" abm-radio label="Enfermedad marcadora de sida">
											<input type="radio" name="clinicalState" value="enfMarcadoraSida" id="clinicalState" ng-model="SummaryDetailsController.hiv_details.clinicalState" disabled>
										</div>
										<div class="radio" abm-radio label="Desconocido">
											<input type="radio" name="clinicalState" id="clinicalState" value="desconocido" ng-model="SummaryDetailsController.hiv_details.clinicalState" disabled>
										</div>
									</abm-form-group>
								</div>
							</div>
						</div>
					</div>
				</div>	    					
				</div>
			</div>
		</form>


		<div class="row">
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					{{SummaryDetailsController.prescription.observations}}
				</div>
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
				</div>
			</div>
			<div class="row" style="margin-top: 300px">
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					{{SummaryDetailsController.prescription.issuedDate| date:"d/M/yy"}}
				</div>
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					Firma y sello
				</div>
			</div>
	</div>
</div>